Node-Red/matrix/10.1.13.14_20180823.txt
[{"id":"3b0650dc.043c5","type":"tab","label":"STATUS","disabled":false,"info":""},{"id":"5dcc443a.47b03c","type":"tab","label":"NDC","disabled":false,"info":""},{"id":"d8a81f4e.49176","type":"tab","label":"SFCTCM13DB"},{"id":"6e8c59b9.ac58a8","type":"tab","label":"Job","disabled":false,"info":""},{"id":"987ea0b2.a38c5","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"55994c57.0f4d84","type":"mqtt-broker","z":"","name":"","broker":"10.1.13.13","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"f6011b96.ef1c28","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"b1550b1e.807138","type":"mqtt-broker","z":"","name":"","broker":"10.1.13.13","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"69075425.3ec07c","type":"mqtt-broker","z":"","name":"","broker":"10.1.251.6","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"e95d4176.56f4b","type":"mqtt-broker","z":"","name":"","broker":"10.1.13.13","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"42468668.fe6968","type":"MySQLdatabase","z":"5dcc443a.47b03c","host":"10.1.251.193","port":"3306","db":"iotdb","tz":""},{"id":"ed615113.d2158","type":"MySQLdatabase","z":"","host":"10.1.251.193","port":"3306","db":"iotdb","tz":""},{"id":"211919e8.69db76","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"85cc1e8.fddbae","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"5706fbe5.c5faa4","type":"mqtt in","z":"5dcc443a.47b03c","name":"","topic":"SFC/TCM13/COAT2/NDC/Width","qos":"2","broker":"987ea0b2.a38c5","x":190,"y":140,"wires":[["1be5c388.a4e9cc"]]},{"id":"1be5c388.a4e9cc","type":"function","z":"5dcc443a.47b03c","name":"Width","func":"global.set(\"Width\",Number(msg.payload));","outputs":1,"noerr":0,"x":401,"y":139.3000030517578,"wires":[[]]},{"id":"bbf6271a.a6f948","type":"mqtt in","z":"5dcc443a.47b03c","name":"","topic":"SFC/TCM13/COAT2/NDC/RP","qos":"2","broker":"987ea0b2.a38c5","x":180,"y":190,"wires":[["cac2ec2e.49d7c"]]},{"id":"cac2ec2e.49d7c","type":"function","z":"5dcc443a.47b03c","name":"RP","func":"global.set(\"RP\",Number(msg.payload));","outputs":1,"noerr":0,"x":400,"y":189.3000030517578,"wires":[[]]},{"id":"e3640d27.74987","type":"inject","z":"5dcc443a.47b03c","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":126,"y":248,"wires":[["454cd9bd.abd7f8"]]},{"id":"454cd9bd.abd7f8","type":"function","z":"5dcc443a.47b03c","name":"telnet","func":"msg.payload = \"1100?\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":264,"y":246.29998779296875,"wires":[["921145f0.3d23c8"]]},{"id":"3621996c.b53476","type":"function","z":"5dcc443a.47b03c","name":"formula","func":"var ndc_return = msg.payload.split(\"\\n\");\nvar ndc_array = ndc_return[0].toString().split(\" \");\nfor (i=3;i<=6;i++)\n{\n    if (isNaN(parseFloat(ndc_array[i])) === false)\n    {\n        msg.payload = parseFloat(ndc_array[i]);\n        //msg.payload = msg.payload + RX;\n    }\n}\n//msg.text = ndc_array;\nmsg.NDC = msg.payload;\n\n//wusm cug KEY RP's value\nmsg.NDC = msg.NDC ;\n//\n\nmsg.payload=msg.NDC;\nreturn msg;","outputs":1,"noerr":0,"x":556,"y":233.29998779296875,"wires":[["e93accfb.6e21f"]]},{"id":"e93accfb.6e21f","type":"function","z":"5dcc443a.47b03c","name":"NDC(54\")","func":"var newmsg = {};\nvar Width;\nWidth = global.get(\"Width\");\nif (isNaN(Width)===true)\n{ \n    Width = 54;\n}\nnewmsg.Y54 = Math.round(1.254 * (Width/54) * msg.NDC); \nnewmsg.payload = newmsg.Y54;\nreturn newmsg;","outputs":1,"noerr":0,"x":717,"y":236.29998779296875,"wires":[["8a603e86.3eaa8","bdd2cb6.a401b38"]]},{"id":"8a603e86.3eaa8","type":"function","z":"5dcc443a.47b03c","name":"RBX","func":"var RBX;\nvar RP ;\nvar Width;\nWidth = global.get(\"Width\");\nif (isNaN(Width)===true)\n{ \n    Width = 54;\n}\n\nRP = global.get(\"RP\");\nif (isNaN(RP)===true)\n{ \n    RP = 0;\n}\n//RP = Math.round(1.254 * (Width/54) * RP);\nRBX = msg.Y54 - RP;\nmsg.RBX = RBX;\nmsg.payload = msg.RBX;\nreturn msg;\n","outputs":1,"noerr":0,"x":874,"y":239.29998779296875,"wires":[["76d19148.41454","1d44a1ab.1cebde"]]},{"id":"26f5c524.f75a6a","type":"function","z":"5dcc443a.47b03c","name":"TEST","func":"var ndc_return = msg.payload.split(\"\\n\");\nvar ndc_array = ndc_return[0].toString().split(\" \");\nmsg.payload = ndc_array.toString();\n//.text = ndc_array[4];\nfor (i=3;i<=6;i++)\n{\n    if (parseFloat(ndc_array[i]) > 0)\n    {\n        msg.text = parseFloat(ndc_array[i]);\n        //.text =  ndc_array[i];\n        //msg.payload = msg.payload + RX;\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":547,"y":183.3000030517578,"wires":[["d22bec7e.4fd63","d02e1d0a.24311"]]},{"id":"d02e1d0a.24311","type":"debug","z":"5dcc443a.47b03c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":694,"y":145.15000915527344,"wires":[]},{"id":"d22bec7e.4fd63","type":"debug","z":"5dcc443a.47b03c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"text","x":682,"y":184.14999389648437,"wires":[]},{"id":"bdd2cb6.a401b38","type":"mqtt out","z":"5dcc443a.47b03c","name":"","topic":"SFC/TCM13/COAT2/NDC/Y54","qos":"","retain":"","broker":"987ea0b2.a38c5","x":961,"y":184.14999389648437,"wires":[]},{"id":"76d19148.41454","type":"mqtt out","z":"5dcc443a.47b03c","name":"","topic":"SFC/TCM13/COAT2/NDC/RBX","qos":"","retain":"","broker":"987ea0b2.a38c5","x":1114,"y":238.14999389648437,"wires":[]},{"id":"1d44a1ab.1cebde","type":"function","z":"5dcc443a.47b03c","name":"Combine","func":"var newmsg = {payload:{Width:0,RP:0,Y54:0,RBX:0,wip_entity_id:0,wip_entity_name:\"\"}};\nnewmsg.payload.Width = global.get(\"Width\");\nnewmsg.payload.RP = global.get(\"RP\");\nnewmsg.payload.Y54 = msg.Y54;\nnewmsg.payload.RBX = msg.RBX;\nnewmsg.payload.wip_entity_id = global.get(\"WIP_ENTITY_ID\");\nnewmsg.payload.wip_entity_name = global.get(\"WIP_ENTITY_NAME\");\nreturn newmsg;","outputs":1,"noerr":0,"x":1034,"y":296.29998779296875,"wires":[["c0c19fac.c1098"]]},{"id":"c0c19fac.c1098","type":"mqtt out","z":"5dcc443a.47b03c","name":"","topic":"SFC/TCM13/COAT2/NDC","qos":"","retain":"","broker":"987ea0b2.a38c5","x":1244,"y":295.1499938964844,"wires":[]},{"id":"921145f0.3d23c8","type":"daemon","z":"5dcc443a.47b03c","command":"telnet","args":"10.0.14.161 20000","cr":false,"redo":true,"op":"string","name":"","x":410,"y":260,"wires":[["3621996c.b53476"],[],[]]},{"id":"1643a24.1a67c5e","type":"inject","z":"5dcc443a.47b03c","name":"","topic":"","payload":"56","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":440,"wires":[["70be1f95.91b3e"]]},{"id":"70be1f95.91b3e","type":"mqtt out","z":"5dcc443a.47b03c","name":"","topic":"SFC/TCM13/COAT2/NDC/Width","qos":"","retain":"","broker":"987ea0b2.a38c5","x":410,"y":440,"wires":[]},{"id":"f8719708.a5e228","type":"inject","z":"5dcc443a.47b03c","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":500,"wires":[["1ef82edb.d75821"]]},{"id":"1ef82edb.d75821","type":"mqtt out","z":"5dcc443a.47b03c","name":"","topic":"SFC/TCM13/COAT2/NDC/RP","qos":"","retain":"","broker":"987ea0b2.a38c5","x":410,"y":500,"wires":[]},{"id":"9521b6d0.d91138","type":"mqtt out","z":"3b0650dc.043c5","name":"","topic":"","qos":"","retain":"","broker":"987ea0b2.a38c5","x":610,"y":120,"wires":[]},{"id":"25aa82f9.c1530e","type":"hostip","z":"3b0650dc.043c5","name":"Host IP","x":300,"y":120,"wires":[["e7a0c5ca.85da98"]]},{"id":"9abff0e0.73e9f","type":"inject","z":"3b0650dc.043c5","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":148,"y":119.69999694824219,"wires":[["25aa82f9.c1530e"]]},{"id":"e7a0c5ca.85da98","type":"function","z":"3b0650dc.043c5","name":"iot_status","func":"var newmsg = \n{\n    payload:{status:false,ip:null,topic:null},\n    topic:null\n};\nnewmsg.payload.status = true;\nnewmsg.payload.ip = msg.payload[0].address;\nnewmsg.payload.topic = \"SFC/TCM13/COAT2/STATUS\";\nnewmsg.topic = newmsg.payload.topic;\nreturn newmsg;","outputs":1,"noerr":0,"x":455,"y":118.99998474121094,"wires":[["9521b6d0.d91138"]]},{"id":"338c51be.96313e","type":"mqtt in","z":"d8a81f4e.49176","name":"","topic":"SFC/TCM13/COAT1/NDC","qos":"2","broker":"987ea0b2.a38c5","x":223,"y":173,"wires":[["375274e8.d6343c"]]},{"id":"eb061c9.24848e","type":"function","z":"d8a81f4e.49176","name":"topic","func":"msg.topic = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":684,"y":173.300048828125,"wires":[["fcb5925a.d8a3a"]]},{"id":"5cc0e67.3f69918","type":"function","z":"d8a81f4e.49176","name":"insert sql","func":"var ndc = msg.payload;\nvar d = new Date();\nvar datestring = d.getFullYear() + \"-\" +\n                (d.getMonth()+1) + \"-\" +\n                 d.getDate()     + \" \" +\n                 d.getHours()    + \":\" +\n                 d.getMinutes()  + \":\" +\n                 d.getSeconds();\nndc.wip_entity_id = ndc.wip_entity_id ? ndc.wip_entity_id : null;\nndc.wip_entity_name = ndc.wip_entity_name ? ndc.wip_entity_name : '';\n\npld = \"INSERT INTO sfctcm13_ndc(ndc_code,width,rp,y54,rbx,ts,wip_entity_id,wip_entity_name,speed) \";\npld = pld + \"VALUES(1,\"+ ndc.Width + \",\"+ ndc.RP + \n      \",\"+ ndc.Y54 + \",\"+ ndc.RBX + \",'\"+ \n      datestring + \"',\"+ ndc.wip_entity_id + \n      \",'\"+ ndc.wip_entity_name + \"',\" + global.get(\"D5510\") + \")\";\nmsg.payload = pld;\nreturn msg;","outputs":1,"noerr":0,"x":544,"y":173.300048828125,"wires":[["eb061c9.24848e"]]},{"id":"375274e8.d6343c","type":"json","z":"d8a81f4e.49176","name":"","x":407.5,"y":172.45005798339844,"wires":[["5cc0e67.3f69918"]]},{"id":"65edc838.8b6848","type":"mqtt in","z":"d8a81f4e.49176","name":"","topic":"SFC/TCM13/COAT2/NDC","qos":"2","broker":"987ea0b2.a38c5","x":227,"y":247.00006103515625,"wires":[["8dad1b87.468f88"]]},{"id":"aa581875.9ee328","type":"function","z":"d8a81f4e.49176","name":"topic","func":"msg.topic = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":688,"y":247.30010986328125,"wires":[["61bf4c56.54af84"]]},{"id":"f9ac3d1a.5a496","type":"function","z":"d8a81f4e.49176","name":"insert sql","func":"var ndc = msg.payload;\nvar d = new Date();\nvar datestring = d.getFullYear() + \"-\" +\n                (d.getMonth()+1) + \"-\" +\n                 d.getDate()     + \" \" +\n                 d.getHours()    + \":\" +\n                 d.getMinutes()  + \":\" +\n                 d.getSeconds();\n\nndc.wip_entity_id = ndc.wip_entity_id ? ndc.wip_entity_id : null;\nndc.wip_entity_name = ndc.wip_entity_name ? ndc.wip_entity_name : '';\n\npld = \"INSERT INTO sfctcm13_ndc(ndc_code,width,rp,y54,rbx,ts,wip_entity_id,wip_entity_name,speed) \";\npld = pld + \"VALUES(2,\"+ ndc.Width + \",\"+ ndc.RP + \n      \",\"+ ndc.Y54 + \",\"+ ndc.RBX + \",'\"+ \n      datestring + \"',\"+ ndc.wip_entity_id + \n      \",'\"+ ndc.wip_entity_name + \"',\" + global.get(\"D5510\") + \")\";\nmsg.payload = pld;\nreturn msg;","outputs":1,"noerr":0,"x":549,"y":246.30010986328125,"wires":[["aa581875.9ee328"]]},{"id":"8dad1b87.468f88","type":"json","z":"d8a81f4e.49176","name":"","x":411.5,"y":246.4501190185547,"wires":[["f9ac3d1a.5a496"]]},{"id":"449bdd3.4d13424","type":"mqtt in","z":"d8a81f4e.49176","name":"","topic":"SFC/TCM13/COAT3/NDC","qos":"2","broker":"987ea0b2.a38c5","x":231,"y":308.00006103515625,"wires":[["bde82acf.45e8c8"]]},{"id":"bbee7f9c.59d59","type":"function","z":"d8a81f4e.49176","name":"topic","func":"msg.topic = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":692,"y":308.30010986328125,"wires":[["e0d4a591.a0cca8"]]},{"id":"d4b58409.5b1718","type":"function","z":"d8a81f4e.49176","name":"insert sql","func":"var ndc = msg.payload;\nvar d = new Date();\nvar datestring = d.getFullYear() + \"-\" +\n                (d.getMonth()+1) + \"-\" +\n                 d.getDate()     + \" \" +\n                 d.getHours()    + \":\" +\n                 d.getMinutes()  + \":\" +\n                 d.getSeconds();\n\nndc.wip_entity_id = ndc.wip_entity_id ? ndc.wip_entity_id : null;\nndc.wip_entity_name = ndc.wip_entity_name ? ndc.wip_entity_name : '';\n\npld = \"INSERT INTO sfctcm13_ndc(ndc_code,width,rp,y54,rbx,ts,wip_entity_id,wip_entity_name,speed) \";\npld = pld + \"VALUES(3,\"+ ndc.Width + \",\"+ ndc.RP + \n      \",\"+ ndc.Y54 + \",\"+ ndc.RBX + \",'\"+ \n      datestring + \"',\"+ ndc.wip_entity_id + \n      \",'\"+ ndc.wip_entity_name + \"',\" + global.get(\"D5510\") + \")\";\nmsg.payload = pld;\nreturn msg;","outputs":1,"noerr":0,"x":552,"y":308.30010986328125,"wires":[["bbee7f9c.59d59"]]},{"id":"bde82acf.45e8c8","type":"json","z":"d8a81f4e.49176","name":"","x":415.5,"y":307.4501190185547,"wires":[["d4b58409.5b1718"]]},{"id":"e0a3b4eb.388b68","type":"mqtt in","z":"d8a81f4e.49176","name":"","topic":"SFC/TCM13/COAT4/NDC","qos":"2","broker":"987ea0b2.a38c5","x":230,"y":380,"wires":[["ce4dcd4.bea203"]]},{"id":"f5e403b8.16f7a","type":"function","z":"d8a81f4e.49176","name":"topic","func":"msg.topic = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":373.30010986328125,"wires":[["c4a19b9b.88f2b8"]]},{"id":"89e5fa7f.c96688","type":"function","z":"d8a81f4e.49176","name":"insert sql","func":"var ndc = msg.payload;\nvar d = new Date();\nvar datestring = d.getFullYear() + \"-\" +\n                (d.getMonth()+1) + \"-\" +\n                 d.getDate()     + \" \" +\n                 d.getHours()    + \":\" +\n                 d.getMinutes()  + \":\" +\n                 d.getSeconds();\n\nndc.wip_entity_id = ndc.wip_entity_id ? ndc.wip_entity_id : null;\nndc.wip_entity_name = ndc.wip_entity_name ? ndc.wip_entity_name : '';\n\npld = \"INSERT INTO sfctcm13_ndc(ndc_code,width,rp,y54,rbx,ts,wip_entity_id,wip_entity_name,speed) \";\npld = pld + \"VALUES(4,\"+ ndc.Width + \",\"+ ndc.RP + \n      \",\"+ ndc.Y54 + \",\"+ ndc.RBX + \",'\"+ \n      datestring + \"',\"+ ndc.wip_entity_id + \n      \",'\"+ ndc.wip_entity_name + \"',\" + global.get(\"D5510\") + \")\";\nmsg.payload = pld;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":380,"wires":[["f5e403b8.16f7a"]]},{"id":"ce4dcd4.bea203","type":"json","z":"d8a81f4e.49176","name":"","x":410,"y":380,"wires":[["89e5fa7f.c96688"]]},{"id":"593809e5.b2a998","type":"mqtt in","z":"d8a81f4e.49176","name":"","topic":"DAQ/TCM013","qos":"2","broker":"69075425.3ec07c","x":214,"y":508,"wires":[["f9d3ff1c.e6ef3"]]},{"id":"f9d3ff1c.e6ef3","type":"split","z":"d8a81f4e.49176","name":"","splt":";","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":365,"y":509,"wires":[["9d80e331.efc7f"]]},{"id":"9d80e331.efc7f","type":"function","z":"d8a81f4e.49176","name":"D5510","func":"var x = msg.payload.split(\",\");\nmsg.payload = parseFloat(x[1]);\n\nif (x[0] == \"5510\") \n   { return msg; }\nelse\n   { null; }","outputs":1,"noerr":0,"x":500.5,"y":510.4499816894531,"wires":[["34e5bcc9.87b764"]]},{"id":"34e5bcc9.87b764","type":"mqtt out","z":"d8a81f4e.49176","name":"","topic":"SFC/TCM13/DAQ/D5510","qos":"","retain":"","broker":"987ea0b2.a38c5","x":687.5,"y":510.29998779296875,"wires":[]},{"id":"fcb5925a.d8a3a","type":"mysql","z":"d8a81f4e.49176","mydb":"ed615113.d2158","name":"","x":818,"y":173.60003662109375,"wires":[[]]},{"id":"61bf4c56.54af84","type":"mysql","z":"d8a81f4e.49176","mydb":"ed615113.d2158","name":"","x":817,"y":245.60009765625,"wires":[[]]},{"id":"e0d4a591.a0cca8","type":"mysql","z":"d8a81f4e.49176","mydb":"ed615113.d2158","name":"","x":819,"y":310.60009765625,"wires":[[]]},{"id":"c4a19b9b.88f2b8","type":"mysql","z":"d8a81f4e.49176","mydb":"ed615113.d2158","name":"","x":830,"y":380,"wires":[[]]},{"id":"3cb3ed90.2f5e32","type":"mqtt in","z":"5dcc443a.47b03c","name":"","topic":"SFC/TCM13/COAT2/WIP_ENTITY_ID","qos":"2","broker":"987ea0b2.a38c5","x":210,"y":60,"wires":[["abf8def5.d06c3"]]},{"id":"abf8def5.d06c3","type":"function","z":"5dcc443a.47b03c","name":"WIP_ENTITY_ID","func":"global.set(\"WIP_ENTITY_ID\",Number(msg.payload));","outputs":1,"noerr":0,"x":490,"y":60,"wires":[[]]},{"id":"3bfd9845.03db08","type":"mqtt in","z":"5dcc443a.47b03c","name":"","topic":"SFC/TCM13/COAT2/WIP_ENTITY_NAME","qos":"2","broker":"987ea0b2.a38c5","x":220,"y":100,"wires":[["109e4e98.4f8451"]]},{"id":"109e4e98.4f8451","type":"function","z":"5dcc443a.47b03c","name":"WIP_ENTITY_NAME","func":"global.set(\"WIP_ENTITY_NAME\",msg.payload);","outputs":1,"noerr":0,"x":500,"y":100,"wires":[[]]},{"id":"8b3d44c4.0be1b8","type":"mqtt in","z":"6e8c59b9.ac58a8","name":"","topic":"SFC/TCM13/COAT1/WIP_ENTITY_ID","qos":"2","broker":"987ea0b2.a38c5","x":230,"y":160,"wires":[["7a1ed947.048b58","a555e97c.49bf58"]]},{"id":"318ade50.406a92","type":"mqtt in","z":"6e8c59b9.ac58a8","name":"","topic":"SFC/TCM13/COAT1/WIP_ENTITY_NAME","qos":"2","broker":"987ea0b2.a38c5","x":240,"y":540,"wires":[["c7e6fac4.345338"]]},{"id":"7a1ed947.048b58","type":"function","z":"6e8c59b9.ac58a8","name":"delay 1 to 2","func":"var delayms =  (24.9 / (global.get(\"D5510\")/60))*1000;\nmsg.delay = delayms;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":160,"wires":[["c05ae45a.d193a8"]]},{"id":"39a9e3a9.15b77c","type":"mqtt in","z":"6e8c59b9.ac58a8","name":"","topic":"SFC/TCM13/DAQ/D5510","qos":"2","broker":"987ea0b2.a38c5","x":190,"y":100,"wires":[["bfe3c0a7.3e925"]]},{"id":"bfe3c0a7.3e925","type":"function","z":"6e8c59b9.ac58a8","name":"D5510","func":"global.set(\"D5510\",Number(msg.payload));\n","outputs":1,"noerr":0,"x":390,"y":100,"wires":[[]]},{"id":"c05ae45a.d193a8","type":"delay","z":"6e8c59b9.ac58a8","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":160,"wires":[["242c135c.eb2d2c","da9aeb47.654128","d8363fcf.ef0f5"]]},{"id":"242c135c.eb2d2c","type":"mqtt out","z":"6e8c59b9.ac58a8","name":"","topic":"SFC/TCM13/COAT2/WIP_ENTITY_ID","qos":"","retain":"","broker":"987ea0b2.a38c5","x":1250,"y":160,"wires":[]},{"id":"c7e6fac4.345338","type":"function","z":"6e8c59b9.ac58a8","name":"delay 1 to 2","func":"var delayms =  (24.9 / (global.get(\"D5510\")/60))*1000;\nmsg.delay = delayms;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":540,"wires":[["f17e6ece.55742"]]},{"id":"f17e6ece.55742","type":"delay","z":"6e8c59b9.ac58a8","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":540,"wires":[["88901754.f55fe8","b21dfddc.f2686"]]},{"id":"88901754.f55fe8","type":"mqtt out","z":"6e8c59b9.ac58a8","name":"","topic":"SFC/TCM13/COAT2/WIP_ENTITY_NAME","qos":"","retain":"","broker":"987ea0b2.a38c5","x":950,"y":540,"wires":[]},{"id":"da9aeb47.654128","type":"function","z":"6e8c59b9.ac58a8","name":"delay 2 to 3","func":"var delayms =  (26.4 / (global.get(\"D5510\")/60))*1000;\nmsg.delay = delayms;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":260,"wires":[["752093ea.cec8ac"]]},{"id":"752093ea.cec8ac","type":"delay","z":"6e8c59b9.ac58a8","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":260,"wires":[["3c03f255.1323be","4fa19831.a408b8","49f47cc9.74eed4"]]},{"id":"3c03f255.1323be","type":"mqtt out","z":"6e8c59b9.ac58a8","name":"","topic":"SFC/TCM13/COAT3/WIP_ENTITY_ID","qos":"","retain":"","broker":"987ea0b2.a38c5","x":1250,"y":260,"wires":[]},{"id":"b21dfddc.f2686","type":"function","z":"6e8c59b9.ac58a8","name":"delay 1 to 2","func":"var delayms =  (26.4 / (global.get(\"D5510\")/60))*1000;\nmsg.delay = delayms;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":580,"wires":[["c230b091.f07bf"]]},{"id":"c230b091.f07bf","type":"delay","z":"6e8c59b9.ac58a8","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":580,"wires":[["26bca9de.7b5606","f28d10eb.43171"]]},{"id":"26bca9de.7b5606","type":"mqtt out","z":"6e8c59b9.ac58a8","name":"","topic":"SFC/TCM13/COAT3/WIP_ENTITY_NAME","qos":"","retain":"","broker":"987ea0b2.a38c5","x":950,"y":580,"wires":[]},{"id":"4fa19831.a408b8","type":"function","z":"6e8c59b9.ac58a8","name":"delay 3 to 4","func":"var delayms =  (38.7 / (global.get(\"D5510\")/60))*1000;\nmsg.delay = delayms;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":380,"wires":[["83cdf09b.b93dd"]]},{"id":"83cdf09b.b93dd","type":"delay","z":"6e8c59b9.ac58a8","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":380,"wires":[["4f7cf073.afcbc","eebd7d61.014cc"]]},{"id":"4f7cf073.afcbc","type":"mqtt out","z":"6e8c59b9.ac58a8","name":"","topic":"SFC/TCM13/COAT4/WIP_ENTITY_ID","qos":"","retain":"","broker":"987ea0b2.a38c5","x":1250,"y":380,"wires":[]},{"id":"f28d10eb.43171","type":"function","z":"6e8c59b9.ac58a8","name":"delay 1 to 2","func":"var delayms =  (38.7 / (global.get(\"D5510\")/60))*1000;\nmsg.delay = delayms;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":620,"wires":[["a2ee189c.e1d568"]]},{"id":"a2ee189c.e1d568","type":"delay","z":"6e8c59b9.ac58a8","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":620,"wires":[["dcf06e88.a636f"]]},{"id":"dcf06e88.a636f","type":"mqtt out","z":"6e8c59b9.ac58a8","name":"","topic":"SFC/TCM13/COAT4/WIP_ENTITY_NAME","qos":"","retain":"","broker":"987ea0b2.a38c5","x":950,"y":620,"wires":[]},{"id":"a555e97c.49bf58","type":"function","z":"6e8c59b9.ac58a8","name":"clear","func":"if (global.get(\"WIP_QTY\") > 0)\n{\n    var delayms =  (global.get(\"WIP_QTY\") / (global.get(\"D5510\")/60))*1000;\n    msg.delay = delayms;\n    msg.payload = null;\n    return msg;\n}","outputs":1,"noerr":0,"x":530,"y":120,"wires":[["7194634d.9c089c"]]},{"id":"49470111.59e33","type":"mqtt in","z":"6e8c59b9.ac58a8","name":"","topic":"SFC/TCM13/COAT1/WIP_QTY","qos":"2","broker":"987ea0b2.a38c5","x":210,"y":60,"wires":[["e9415dc9.b252f"]]},{"id":"e9415dc9.b252f","type":"function","z":"6e8c59b9.ac58a8","name":"WIP_QTY","func":"global.set(\"WIP_QTY\",msg.payload);","outputs":1,"noerr":0,"x":440,"y":60,"wires":[[]]},{"id":"7194634d.9c089c","type":"delay","z":"6e8c59b9.ac58a8","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":80,"wires":[["cbdb38e1.690868","ae7dc272.40613"]]},{"id":"cbdb38e1.690868","type":"mqtt out","z":"6e8c59b9.ac58a8","name":"","topic":"SFC/TCM13/COAT1/WIP_ENTITY_ID","qos":"","retain":"","broker":"987ea0b2.a38c5","x":1250,"y":80,"wires":[]},{"id":"d8363fcf.ef0f5","type":"function","z":"6e8c59b9.ac58a8","name":"clear","func":"if (global.get(\"WIP_QTY\") > 0)\n{\n    var delayms =  (global.get(\"WIP_QTY\") / (global.get(\"D5510\")/60))*1000;\n    msg.delay = delayms;\n    msg.payload = null;\n    return msg;\n}","outputs":1,"noerr":0,"x":850,"y":120,"wires":[["16b83ea7.1450c1"]]},{"id":"16b83ea7.1450c1","type":"delay","z":"6e8c59b9.ac58a8","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":980,"y":120,"wires":[["242c135c.eb2d2c","cd6f2713.c9e218"]]},{"id":"ae7dc272.40613","type":"mqtt out","z":"6e8c59b9.ac58a8","name":"","topic":"SFC/TCM13/COAT1/WIP_ENTITY_NAME","qos":"","retain":"","broker":"987ea0b2.a38c5","x":1270,"y":40,"wires":[]},{"id":"cd6f2713.c9e218","type":"mqtt out","z":"6e8c59b9.ac58a8","name":"","topic":"SFC/TCM13/COAT2/WIP_ENTITY_NAME","qos":"","retain":"","broker":"987ea0b2.a38c5","x":1270,"y":120,"wires":[]},{"id":"480c868.f7fd378","type":"mqtt out","z":"6e8c59b9.ac58a8","name":"","topic":"SFC/TCM13/COAT3/WIP_ENTITY_NAME","qos":"","retain":"","broker":"987ea0b2.a38c5","x":1270,"y":220,"wires":[]},{"id":"49f47cc9.74eed4","type":"function","z":"6e8c59b9.ac58a8","name":"clear","func":"if (global.get(\"WIP_QTY\") > 0)\n{\n    var delayms =  (global.get(\"WIP_QTY\") / (global.get(\"D5510\")/60))*1000;\n    msg.delay = delayms;\n    msg.payload = null;\n    return msg;\n}","outputs":1,"noerr":0,"x":850,"y":220,"wires":[["e9dd772f.12c3a8"]]},{"id":"e9dd772f.12c3a8","type":"delay","z":"6e8c59b9.ac58a8","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":980,"y":220,"wires":[["480c868.f7fd378","3c03f255.1323be"]]},{"id":"3da0302.43cf1d","type":"mqtt out","z":"6e8c59b9.ac58a8","name":"","topic":"SFC/TCM13/COAT4/WIP_ENTITY_NAME","qos":"","retain":"","broker":"987ea0b2.a38c5","x":1270,"y":340,"wires":[]},{"id":"eebd7d61.014cc","type":"function","z":"6e8c59b9.ac58a8","name":"clear","func":"if (global.get(\"WIP_QTY\") > 0)\n{\n    var delayms =  (global.get(\"WIP_QTY\") / (global.get(\"D5510\")/60))*1000;\n    msg.delay = delayms;\n    msg.payload = null;\n    return msg;\n}","outputs":1,"noerr":0,"x":850,"y":340,"wires":[["817acefb.62a63"]]},{"id":"817acefb.62a63","type":"delay","z":"6e8c59b9.ac58a8","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":980,"y":340,"wires":[["3da0302.43cf1d","4f7cf073.afcbc"]]},{"id":"46d4beb4.21cd8","type":"debug","z":"d8a81f4e.49176","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":460,"wires":[]}]