Node-Red/raspberry_pi/10.1.1.44_20180817.txt
[{"id":"f36e7e1f.fe17a","type":"tab","label":"MIS","disabled":false,"info":""},{"id":"abf36677.f53038","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a9943847.1e72a8","type":"ui_tab","z":"","name":"機房監視系統","icon":"dashboard"},{"id":"e671e1cd.ec75c","type":"ui_group","z":"","name":"出風口","tab":"a9943847.1e72a8","disp":true,"width":"27"},{"id":"70731af9.7fbd64","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ddcde56f.7bca08","type":"mqtt-broker","z":"","broker":"10.1.251.170","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"2","birthRetain":"false","birthPayload":""},{"id":"578a95e2.e8a5dc","type":"MySQLdatabase","z":"","host":"10.1.251.193","port":"3306","db":"iotdb","tz":""},{"id":"1d6df219.1eff8e","type":"mqtt-broker","z":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"bfb779b4.b9d708","type":"function","z":"f36e7e1f.fe17a","name":"wusm","func":"var temp = msg.payload;\nvar humi = msg.humidity;\nvar msg = {};\nif (temp >= 17 || humi >= 95) {\n msg.headers = {\n    \"Content-Type\":\"application/json\",\n    \"Authorization\":\"Bearer LgpvaTLncLEiN4XN7zkonMyYf33HQ2RUmWt1l8bK26C6riaF3Q1p+ccL3qpl6QenFnL9k+0HuMNmytkYT6JaKeFgsKCLDUS9x7j814fwpCLLOSeHrMz5jHTXVSrjW2x9HNQKFy2nWnKNy7scIO2nCAdB04t89/1O/w1cDnyilFU=\" \n     \n };\n\n msg.payload = {\n    \"to\": \"Ue1b71a3161b1b4955ca1d54b0580953d\", //wusm\n    \"messages\":[\n        {\"type\":\"text\",\"text\":\"To WUSM:機房左側出風口偵測溫度\"+temp+\",濕度\"+humi}]\n    \n };\n\n return msg;\n}","outputs":1,"noerr":0,"x":587,"y":356.1500244140625,"wires":[["99d95aa2.0cedf8","fa9ed94e.b76018"]]},{"id":"738f745.0f9258c","type":"debug","z":"f36e7e1f.fe17a","name":"","active":true,"console":"false","complete":"humidity","x":587,"y":96.1500244140625,"wires":[]},{"id":"99d95aa2.0cedf8","type":"https-node","z":"f36e7e1f.fe17a","name":"Push message","method":"POST","ret":"obj","url":"https://api.line.me/v2/bot/message/push","authorized":true,"agent":true,"x":777,"y":335.1500244140625,"wires":[[]]},{"id":"fa9ed94e.b76018","type":"logger","z":"f36e7e1f.fe17a","name":"logger","filename":"line_push_message.log","maxsize":1,"maxfiles":10,"complete":"payload","console":false,"file":true,"debug":false,"zip":false,"logtype":"info","x":750,"y":380,"wires":[]},{"id":"5e398330.8ac7dc","type":"rpi-dht22","z":"f36e7e1f.fe17a","name":"","topic":"rpi-dht22-左側","dht":22,"pintype":"0","pin":"17","x":378,"y":314,"wires":[["bfb779b4.b9d708","321b78cd.ea8e78","e6e777f0.0cd988","cf48bc52.b6a34","713688be.fc8068","c394289b.06da08","168e68a0.efe1d7","5a93ba26.ccb754","de4bb099.80b83"]]},{"id":"3045462d.54cf5a","type":"debug","z":"f36e7e1f.fe17a","name":"","active":true,"console":"false","complete":"payload","x":584,"y":47,"wires":[]},{"id":"3e1b3d43.9a86f2","type":"rpi-dht22","z":"f36e7e1f.fe17a","name":"","topic":"rpi-dht22-左側","dht":22,"pintype":"0","pin":"17","x":365,"y":77,"wires":[["3045462d.54cf5a","738f745.0f9258c"]]},{"id":"1e0c074c.342e19","type":"inject","z":"f36e7e1f.fe17a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":174.5,"y":83.14999389648437,"wires":[["3e1b3d43.9a86f2"]]},{"id":"321b78cd.ea8e78","type":"function","z":"f36e7e1f.fe17a","name":"MIS_Line_Group","func":"var temp = msg.payload;\nvar humi = msg.humidity;\nvar msg = {};\nif (temp >= 20 ) {\n msg.headers = {\n    \"Content-Type\":\"application/json\",\n    \"Authorization\":\"Bearer LgpvaTLncLEiN4XN7zkonMyYf33HQ2RUmWt1l8bK26C6riaF3Q1p+ccL3qpl6QenFnL9k+0HuMNmytkYT6JaKeFgsKCLDUS9x7j814fwpCLLOSeHrMz5jHTXVSrjW2x9HNQKFy2nWnKNy7scIO2nCAdB04t89/1O/w1cDnyilFU=\" \n     \n };\n\n msg.payload = {\n    \"to\": \"C9b988b2d827d483e6f769273896d4b7b\", //MIS_Line_Group\n    \"messages\":[\n        {\"type\":\"text\",\"text\":\"機房左側出風口偵測溫度\"+temp}]\n    \n };\n\n return msg;\n}\nelse if (temp >= 25 ) {\n msg.headers = {\n    \"Content-Type\":\"application/json\",\n    \"Authorization\":\"Bearer LgpvaTLncLEiN4XN7zkonMyYf33HQ2RUmWt1l8bK26C6riaF3Q1p+ccL3qpl6QenFnL9k+0HuMNmytkYT6JaKeFgsKCLDUS9x7j814fwpCLLOSeHrMz5jHTXVSrjW2x9HNQKFy2nWnKNy7scIO2nCAdB04t89/1O/w1cDnyilFU=\" \n     \n };\n\n msg.payload = {\n    \"to\": \"C9b988b2d827d483e6f769273896d4b7b\", //MIS_Line_Group\n    \"messages\":[\n        {\"type\":\"text\",\"text\":\"緊急!!!機房左側出風口偵測溫度\"+temp}]\n    \n };\n\n return msg;\n}","outputs":1,"noerr":0,"x":630,"y":420,"wires":[["b19197a3.643008","9be8ee21.2f55e"]]},{"id":"b19197a3.643008","type":"https-node","z":"f36e7e1f.fe17a","name":"Push message","method":"POST","ret":"obj","url":"https://api.line.me/v2/bot/message/push","authorized":true,"agent":true,"x":860,"y":420,"wires":[[]]},{"id":"9be8ee21.2f55e","type":"logger","z":"f36e7e1f.fe17a","name":"logger","filename":"line_push_message.log","maxsize":1,"maxfiles":10,"complete":"payload","console":false,"file":true,"debug":false,"zip":false,"logtype":"info","x":830,"y":460,"wires":[]},{"id":"e6e777f0.0cd988","type":"ui_gauge","z":"f36e7e1f.fe17a","name":"","group":"e671e1cd.ec75c","order":2,"width":"6","height":"6","gtype":"gage","title":"溫度-左側","label":"units","format":"{{value}}","min":"10","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":220,"wires":[]},{"id":"cf48bc52.b6a34","type":"function","z":"f36e7e1f.fe17a","name":"濕度","func":"msg.payload = msg.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":260,"wires":[["e9be19c5.403ef8"]]},{"id":"22006a56.373386","type":"rpi-dht22","z":"f36e7e1f.fe17a","name":"","topic":"rpi-dht22-後方","dht":22,"pintype":"0","pin":"27","x":373,"y":656,"wires":[["7f543ba.f835fc4","e272666e.a90578","16b5292.32af6d7","aa2ce1d0.2aaef","dcc9894f.ad6078","70aaa050.2c6d6","8e3cfc7c.bbac9"]]},{"id":"a75e5ad9.af94e8","type":"function","z":"abf36677.f53038","name":"cug","func":"var temp = msg.payload;\nvar humi = msg.humidity;\nvar msg = {};\nmsg.headers = {\n    \"Content-Type\":\"application/json\",\n    \"Authorization\":\"Bearer LgpvaTLncLEiN4XN7zkonMyYf33HQ2RUmWt1l8bK26C6riaF3Q1p+ccL3qpl6QenFnL9k+0HuMNmytkYT6JaKeFgsKCLDUS9x7j814fwpCLLOSeHrMz5jHTXVSrjW2x9HNQKFy2nWnKNy7scIO2nCAdB04t89/1O/w1cDnyilFU=\" };\n\nmsg.payload = {\n    \"to\": \"Uf931c6398333381eb730d7b109a56d9e\", //cug\n    \"messages\":[\n        {\"type\":\"text\",\"text\":\"偵測溫度為\"+temp+\",濕度為\"+humi}]\n    \n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":191,"y":88,"wires":[["1fbb25dc.e1473a","d922d50e.3be8a8"]]},{"id":"5313ea6b.d91054","type":"debug","z":"abf36677.f53038","name":"","active":true,"console":"false","complete":"payload","x":613,"y":90,"wires":[]},{"id":"1fbb25dc.e1473a","type":"https-node","z":"abf36677.f53038","name":"Push message","method":"POST","ret":"obj","url":"https://api.line.me/v2/bot/message/push","authorized":true,"agent":true,"x":419,"y":87,"wires":[["5313ea6b.d91054"]]},{"id":"d922d50e.3be8a8","type":"logger","z":"abf36677.f53038","name":"logger","filename":"line_push_message.log","maxsize":1,"maxfiles":10,"complete":"payload","console":false,"file":true,"debug":false,"zip":false,"logtype":"info","x":413,"y":149.8499755859375,"wires":[]},{"id":"8a42b04f.0173d","type":"function","z":"abf36677.f53038","name":"IT2 LINE@","func":"var temp = msg.payload;\nvar humi = msg.humidity;\nvar msg = {};\nmsg.headers = {\n    \"Content-Type\":\"application/json\",\n    \"Authorization\":\"Bearer LgpvaTLncLEiN4XN7zkonMyYf33HQ2RUmWt1l8bK26C6riaF3Q1p+ccL3qpl6QenFnL9k+0HuMNmytkYT6JaKeFgsKCLDUS9x7j814fwpCLLOSeHrMz5jHTXVSrjW2x9HNQKFy2nWnKNy7scIO2nCAdB04t89/1O/w1cDnyilFU=\" };\n\nmsg.payload = {\n    \"to\": \"Ud0eab21f6f9bb62b9c592b304e45016e\", //IT2 LINE@\n    \"messages\":[\n        {\"type\":\"text\",\"text\":\"偵測溫度為\"+temp+\",濕度為\"+humi}]\n    \n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":211,"y":228.08001708984375,"wires":[["fbffdb8b.a61098","fe4a76ca.d98a38"]]},{"id":"3c21c37d.b43ebc","type":"debug","z":"abf36677.f53038","name":"","active":true,"console":"false","complete":"payload","x":593,"y":230.08001708984375,"wires":[]},{"id":"fbffdb8b.a61098","type":"https-node","z":"abf36677.f53038","name":"Push message","method":"POST","ret":"obj","url":"https://api.line.me/v2/bot/message/push","authorized":true,"agent":true,"x":399,"y":227.08001708984375,"wires":[["3c21c37d.b43ebc"]]},{"id":"fe4a76ca.d98a38","type":"logger","z":"abf36677.f53038","name":"logger","filename":"line_push_message.log","maxsize":1,"maxfiles":10,"complete":"payload","console":false,"file":true,"debug":false,"zip":false,"logtype":"info","x":393,"y":289.92999267578125,"wires":[]},{"id":"3b7b895f.fac0b6","type":"inject","z":"f36e7e1f.fe17a","name":"","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":false,"x":137,"y":456,"wires":[["22006a56.373386","5e398330.8ac7dc"]]},{"id":"7f543ba.f835fc4","type":"ui_chart","z":"f36e7e1f.fe17a","name":"","group":"e671e1cd.ec75c","order":4,"width":"10","height":"6","label":"溫度-後方","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"30","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1b76b6","#aec8ea","#ff7f0f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":605,"y":663,"wires":[[],[]]},{"id":"e272666e.a90578","type":"ui_gauge","z":"f36e7e1f.fe17a","name":"","group":"e671e1cd.ec75c","order":5,"width":"6","height":"6","gtype":"gage","title":"溫度-後方","label":"units","format":"{{value}}","min":"10","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":605,"y":703,"wires":[]},{"id":"816f6fb1.2b33f","type":"ui_chart","z":"f36e7e1f.fe17a","name":"","group":"e671e1cd.ec75c","order":6,"width":"10","height":"6","label":"濕度-後方","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":765,"y":743,"wires":[[],[]]},{"id":"16b5292.32af6d7","type":"function","z":"f36e7e1f.fe17a","name":"濕度","func":"msg.payload = msg.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":595,"y":743,"wires":[["816f6fb1.2b33f"]]},{"id":"aa2ce1d0.2aaef","type":"function","z":"f36e7e1f.fe17a","name":"wusm","func":"var temp = msg.payload;\nvar humi = msg.humidity;\nvar msg = {};\nif (temp >= 20 || humi >= 60) {\n msg.headers = {\n    \"Content-Type\":\"application/json\",\n    \"Authorization\":\"Bearer LgpvaTLncLEiN4XN7zkonMyYf33HQ2RUmWt1l8bK26C6riaF3Q1p+ccL3qpl6QenFnL9k+0HuMNmytkYT6JaKeFgsKCLDUS9x7j814fwpCLLOSeHrMz5jHTXVSrjW2x9HNQKFy2nWnKNy7scIO2nCAdB04t89/1O/w1cDnyilFU=\" \n     \n };\n\n msg.payload = {\n    \"to\": \"Ue1b71a3161b1b4955ca1d54b0580953d\", //wusm\n    \"messages\":[\n        {\"type\":\"text\",\"text\":\"To WUSM:機房後方出風口偵測溫度\"+temp+\",濕度\"+humi}]\n    \n };\n\n return msg;\n}","outputs":1,"noerr":0,"x":595,"y":783,"wires":[["b2a45e70.1f3ad","b4079007.943cc"]]},{"id":"b2a45e70.1f3ad","type":"https-node","z":"f36e7e1f.fe17a","name":"Push message","method":"POST","ret":"obj","url":"https://api.line.me/v2/bot/message/push","authorized":true,"agent":true,"x":781,"y":782,"wires":[[]]},{"id":"b4079007.943cc","type":"logger","z":"f36e7e1f.fe17a","name":"logger","filename":"line_push_message.log","maxsize":1,"maxfiles":10,"complete":"payload","console":false,"file":true,"debug":false,"zip":false,"logtype":"info","x":755,"y":823,"wires":[]},{"id":"713688be.fc8068","type":"ui_chart","z":"f36e7e1f.fe17a","name":"","group":"e671e1cd.ec75c","order":1,"width":"10","height":"6","label":"溫度-左側","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"30","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":601.5,"y":181.34999084472656,"wires":[[],[]]},{"id":"e9be19c5.403ef8","type":"ui_chart","z":"f36e7e1f.fe17a","name":"","group":"e671e1cd.ec75c","order":3,"width":"10","height":"6","label":"濕度-左側","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":765.5,"y":259.3500061035156,"wires":[[],[]]},{"id":"c394289b.06da08","type":"mqtt out","z":"f36e7e1f.fe17a","name":"","topic":"pi_mis/tmp_left","qos":"2","retain":"","broker":"ddcde56f.7bca08","x":622.5,"y":300.29998779296875,"wires":[]},{"id":"dcc9894f.ad6078","type":"mqtt out","z":"f36e7e1f.fe17a","name":"","topic":"pi_mis/tmp_back","qos":"2","retain":"","broker":"ddcde56f.7bca08","x":632,"y":615,"wires":[]},{"id":"168e68a0.efe1d7","type":"function","z":"f36e7e1f.fe17a","name":"combine","func":"var newmsg = {payload:{temperature_left:0,humidity_left:0}};\nnewmsg.payload.temperature_left = msg.payload;\nnewmsg.payload.humidity_left = msg.humidity;\n\nreturn newmsg;","outputs":1,"noerr":0,"x":599.5,"y":507.4499816894531,"wires":[["600b21b9.09a8a"]]},{"id":"b1e146a0.1609d8","type":"function","z":"f36e7e1f.fe17a","name":"insert sql","func":"var ndc = msg.payload;\nvar d = new Date();\nvar datestring = d.getFullYear() + \"-\" +\n                (d.getMonth()+1) + \"-\" +\n                 d.getDate()     + \" \" +\n                 d.getHours()    + \":\" +\n                 d.getMinutes()  + \":\" +\n                 d.getSeconds();\n\npld = \"INSERT INTO sfcserver(ts,temperature_left,temperature_back,humidity_left,humidity_back) \";\npld = pld + \"VALUES('\"+ datestring +\"',\" +\n            msg.payload.temperature_left + \",\" +\n            msg.payload.temperature_back + \",\" +\n            msg.payload.humidity_left + \",\" +\n            msg.payload.humidity_back + \")\";\nmsg.payload = pld;\nreturn msg;\n","outputs":1,"noerr":0,"x":929.5,"y":540.449951171875,"wires":[["c118ccca.70bf9"]]},{"id":"70aaa050.2c6d6","type":"function","z":"f36e7e1f.fe17a","name":"combine","func":"var newmsg = {payload:{temperature_back:0,humidity_back:0}};\nnewmsg.payload.temperature_back = msg.payload;\nnewmsg.payload.humidity_back = msg.humidity;\n\nreturn newmsg;","outputs":1,"noerr":0,"x":601.5,"y":568.449951171875,"wires":[["600b21b9.09a8a"]]},{"id":"600b21b9.09a8a","type":"function","z":"f36e7e1f.fe17a","name":"combine_all","func":"var newmsg = {payload:{\n                       temperature_left:0,\n                       humidity_left:0,\n                       temperature_back:0,\n                       humidity_back:0\n                      }\n              };\nif (typeof(msg.payload.temperature_left) != \"undefined\")\n{\n    context.temp_left = msg.payload.temperature_left;\n    context.humi_left = msg.payload.humidity_left;\n    \n    newmsg.payload.temperature_left = context.temp_left;\n    newmsg.payload.humidity_left = context.humi_left;\n    newmsg.payload.temperature_back = context.temp_back;\n    newmsg.payload.humidity_back = context.humi_back;\n    \n    return newmsg;\n}\nif (typeof(msg.payload.temperature_back) != \"undefined\")\n{\n    context.temp_back = msg.payload.temperature_back ;\n    context.humi_back = msg.payload.humidity_back;\n}","outputs":1,"noerr":0,"x":776.5,"y":539.4499816894531,"wires":[["b1e146a0.1609d8"]]},{"id":"e6470a47.0a21a8","type":"mysql","z":"f36e7e1f.fe17a","mydb":"578a95e2.e8a5dc","name":"","x":1200.5,"y":541.75,"wires":[[]]},{"id":"c118ccca.70bf9","type":"function","z":"f36e7e1f.fe17a","name":"topic","func":"msg.topic = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1068.5,"y":541.4500122070312,"wires":[["e6470a47.0a21a8"]]},{"id":"5a93ba26.ccb754","type":"mqtt out","z":"f36e7e1f.fe17a","name":"","topic":"sanfang/pi_mis/tmp_left","qos":"","retain":"","broker":"1d6df219.1eff8e","x":877.5,"y":298.29998779296875,"wires":[]},{"id":"8e3cfc7c.bbac9","type":"mqtt out","z":"f36e7e1f.fe17a","name":"","topic":"sanfang/pi_mis/tmp_back","qos":"","retain":"","broker":"1d6df219.1eff8e","x":890,"y":620,"wires":[]},{"id":"de4bb099.80b83","type":"function","z":"f36e7e1f.fe17a","name":"ALARM","func":"var temp = msg.payload;\nvar humi = msg.humidity;\nvar msg = {};\nif (temp >= 17 || humi >= 95) {\n\n msg.payload = \"ALARM\";\n \n return msg;\n}","outputs":1,"noerr":0,"x":600,"y":140,"wires":[["5544286c.eac008"]]},{"id":"5544286c.eac008","type":"mqtt out","z":"f36e7e1f.fe17a","name":"","topic":"sanfang/pi_mis/tmp_left/alarm","qos":"","retain":"","broker":"1d6df219.1eff8e","x":830,"y":140,"wires":[]}]