Node-Red/raspberry_pi/10.1.1.36_20180822.txt
[{"id":"1b1203d8.e0698c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"98dcf070.3a104","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"e4ec212f.b0f7a","type":"tab","label":"iotdb","disabled":true,"info":""},{"id":"4e63c906.c40088","type":"tab","label":"wcm10","disabled":true,"info":""},{"id":"ace53826.54ad68","type":"tab","label":"TCM13_Dashboard","disabled":false,"info":""},{"id":"1687195d.eed3a7","type":"mqtt-broker","z":"","broker":"10.1.251.170","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"pi_test","willQos":"1","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"a00602ad.6d79c","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\r","bin":"false","out":"char","addchar":false},{"id":"1900b9e7.069f46","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"584956fd.e34f28","type":"ui_tab","z":"","name":"IOT監視系統","icon":"dashboard"},{"id":"cc75ebea.df2a68","type":"ui_group","z":"","name":"機房溫度","tab":"584956fd.e34f28","order":2,"disp":true,"width":"20"},{"id":"e9cee6f0.833058","type":"mqtt-broker","z":"","broker":"10.1.251.6","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"2","birthRetain":"false","birthPayload":""},{"id":"fd663cb5.595c9","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"IOT Viewer","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a95c45e9.35e448","type":"serial-port","z":"","serialport":"","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"79af9e65.845df","type":"MySQLdatabase","z":"e4ec212f.b0f7a","host":"10.1.251.193","port":"3306","db":"iotdb","tz":""},{"id":"37dfce27.52ae92","type":"mongodb2","z":"e4ec212f.b0f7a","uri":"mongodb://10.1.251.5:27017/SA31","name":"SA31","options":"","parallelism":"-1"},{"id":"473a8df9.c1f424","type":"mongodb3","z":"","uri":"mongodb://10.1.251.5:27017/SA31","name":"SA31","options":"","parallelism":"-1"},{"id":"e70b6c45.63996","type":"MySQLdatabase","z":"","host":"10.1.251.193","port":"3306","db":"iotdb","tz":""},{"id":"891859d6.3043d8","type":"mqtt-broker","z":"","broker":"10.1.13.14","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"289ffe5f.5f3f72","type":"ui_group","z":"","name":"IOT IP","tab":"584956fd.e34f28","order":1,"disp":true,"width":"5"},{"id":"1d117c45.f38674","type":"ui_group","z":"","name":"IOT Status","tab":"584956fd.e34f28","order":3,"disp":true,"width":"6"},{"id":"898bdf45.b6f5d","type":"ui_group","z":"","name":"API2","tab":"584956fd.e34f28","order":4,"disp":true,"width":"5"},{"id":"b1365172.5a9d6","type":"mqtt-broker","z":"","broker":"10.1.13.13","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"89acd0de.d3f02","type":"ui_group","z":"","name":"TCM13監視系統","tab":"4e95ce79.59fb2","disp":true,"width":"20"},{"id":"4e95ce79.59fb2","type":"ui_tab","z":"","name":"TCM#13監視系統","icon":"dashboard"},{"id":"9cc82bca.d7b5d8","type":"mqtt in","z":"98dcf070.3a104","name":"","topic":"api2:8080_status","qos":"2","broker":"1687195d.eed3a7","x":171,"y":334,"wires":[["5ddcf7e7.ea41c8","3a382c80.58ae14"]]},{"id":"5ddcf7e7.ea41c8","type":"function","z":"98dcf070.3a104","name":"status","func":"if (msg.payload == \"true\") {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":357,"y":332,"wires":[["a37d97dc.228538"]]},{"id":"88cf1589.aed438","type":"mqtt in","z":"98dcf070.3a104","name":"","topic":"pi_mis/tmp_left","qos":"2","broker":"1687195d.eed3a7","x":169,"y":77,"wires":[["283704b1.0c4dbc","2aee8b5d.f3fb74"]]},{"id":"a73e7b36.90a3e8","type":"mqtt in","z":"98dcf070.3a104","name":"","topic":"pi_mis/tmp_back","qos":"2","broker":"1687195d.eed3a7","x":179,"y":143,"wires":[["132e4de3.152862","7dd04e46.4c99c"]]},{"id":"86ddd5e8.901f18","type":"mqtt in","z":"98dcf070.3a104","name":"","topic":"api2:8889_status","qos":"2","broker":"1687195d.eed3a7","x":154,"y":433,"wires":[["e038d807.74be78","12454887.1205c7"]]},{"id":"e038d807.74be78","type":"function","z":"98dcf070.3a104","name":"status","func":"if (msg.payload == \"true\") {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":433,"wires":[["5f2257d1.785d18"]]},{"id":"564299aa.e4b6e8","type":"mqtt in","z":"98dcf070.3a104","name":"","topic":"api2:8886_status","qos":"2","broker":"1687195d.eed3a7","x":175,"y":536,"wires":[["50331e5a.9a652","93465bd1.03a968"]]},{"id":"50331e5a.9a652","type":"function","z":"98dcf070.3a104","name":"status","func":"if (msg.payload == \"true\") {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":357,"y":534,"wires":[["7685bf92.e8a1c"]]},{"id":"8fd5e1c7.4640c","type":"mqtt in","z":"98dcf070.3a104","name":"","topic":"api2:8000_status","qos":"2","broker":"1687195d.eed3a7","x":179,"y":241,"wires":[["8635837f.797c9","9e303d1e.f1867"]]},{"id":"8635837f.797c9","type":"function","z":"98dcf070.3a104","name":"status","func":"if (msg.payload == \"true\") {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":361,"y":239,"wires":[["3467c4f9.3fe5dc"]]},{"id":"da2fd329.173fc","type":"mqtt in","z":"98dcf070.3a104","name":"","topic":"api2:8882_status","qos":"2","broker":"1687195d.eed3a7","x":174,"y":637,"wires":[["526f97be.955068","66513627.797648"]]},{"id":"526f97be.955068","type":"function","z":"98dcf070.3a104","name":"status","func":"if (msg.payload == \"true\") {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":356,"y":635,"wires":[["9323ceb1.3ca52"]]},{"id":"2aee8b5d.f3fb74","type":"trigger","z":"98dcf070.3a104","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"30","extend":true,"units":"s","reset":"","name":"","x":373,"y":45,"wires":[["283704b1.0c4dbc"]]},{"id":"7dd04e46.4c99c","type":"trigger","z":"98dcf070.3a104","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"30","extend":true,"units":"s","reset":"","name":"","x":384,"y":110,"wires":[["132e4de3.152862"]]},{"id":"9e303d1e.f1867","type":"trigger","z":"98dcf070.3a104","op1":"","op2":"false","op1type":"pay","op2type":"bool","duration":"40","extend":true,"units":"s","reset":"","name":"","x":359,"y":195,"wires":[["3467c4f9.3fe5dc"]]},{"id":"3a382c80.58ae14","type":"trigger","z":"98dcf070.3a104","op1":"","op2":"false","op1type":"pay","op2type":"bool","duration":"40","extend":true,"units":"s","reset":"","name":"","x":358,"y":285,"wires":[["a37d97dc.228538"]]},{"id":"12454887.1205c7","type":"trigger","z":"98dcf070.3a104","op1":"","op2":"false","op1type":"pay","op2type":"bool","duration":"40","extend":true,"units":"s","reset":"","name":"","x":367,"y":383,"wires":[["5f2257d1.785d18"]]},{"id":"93465bd1.03a968","type":"trigger","z":"98dcf070.3a104","op1":"","op2":"false","op1type":"pay","op2type":"bool","duration":"40","extend":true,"units":"s","reset":"","name":"","x":358,"y":485,"wires":[["7685bf92.e8a1c"]]},{"id":"66513627.797648","type":"trigger","z":"98dcf070.3a104","op1":"","op2":"false","op1type":"pay","op2type":"bool","duration":"40","extend":true,"units":"s","reset":"","name":"","x":346,"y":583,"wires":[["9323ceb1.3ca52"]]},{"id":"a37d97dc.228538","type":"ui_switch","z":"98dcf070.3a104","name":"","label":"api2:8080(test)","group":"898bdf45.b6f5d","order":4,"width":"4","height":"1","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":534,"y":326,"wires":[[]]},{"id":"5f2257d1.785d18","type":"ui_switch","z":"98dcf070.3a104","name":"","label":"api2:8889(wusm)","group":"898bdf45.b6f5d","order":5,"width":"4","height":"1","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":561,"y":427,"wires":[[]]},{"id":"7685bf92.e8a1c","type":"ui_switch","z":"98dcf070.3a104","name":"","label":"api2:8886(pzt)","group":"898bdf45.b6f5d","order":6,"width":"4","height":"1","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":534,"y":528,"wires":[[]]},{"id":"3467c4f9.3fe5dc","type":"ui_switch","z":"98dcf070.3a104","name":"","label":"api2:8000(prod)","group":"898bdf45.b6f5d","order":3,"width":"4","height":"1","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":538,"y":233,"wires":[[]]},{"id":"9323ceb1.3ca52","type":"ui_switch","z":"98dcf070.3a104","name":"","label":"api2:8882(cug)","group":"898bdf45.b6f5d","order":7,"width":"4","height":"1","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":533,"y":629,"wires":[[]]},{"id":"283704b1.0c4dbc","type":"ui_gauge","z":"98dcf070.3a104","name":"","group":"cc75ebea.df2a68","order":1,"width":"10","height":"5","gtype":"gage","title":"機房左側溫度","label":"units","format":"{{value}}","min":"10","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":623,"y":79,"wires":[]},{"id":"132e4de3.152862","type":"ui_gauge","z":"98dcf070.3a104","name":"","group":"cc75ebea.df2a68","order":2,"width":"10","height":"5","gtype":"gage","title":"機房後側溫度","label":"units","format":"{{value}}","min":"10","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":645,"y":139,"wires":[]},{"id":"3a25ac64.4d6984","type":"serial in","z":"1b1203d8.e0698c","name":"","serial":"a00602ad.6d79c","x":184.5,"y":148.14999389648437,"wires":[["efd0d5c6.d8d168","6925dfa3.76806"]]},{"id":"efd0d5c6.d8d168","type":"debug","z":"1b1203d8.e0698c","name":"","active":true,"console":"false","complete":"false","x":442.5,"y":148.29998779296875,"wires":[]},{"id":"6925dfa3.76806","type":"tcp out","z":"1b1203d8.e0698c","host":"127.0.0.1","port":"1024","beserver":"client","base64":false,"end":false,"name":"","x":461.5,"y":200.29998779296875,"wires":[]},{"id":"4f5236b1.772678","type":"tcp in","z":"1b1203d8.e0698c","name":"","server":"server","host":"","port":"1024","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":172.5,"y":276.14996337890625,"wires":[["1e277358.52e59d"]]},{"id":"b2ee7b1.444b088","type":"debug","z":"1b1203d8.e0698c","name":"","active":true,"console":"false","complete":"false","x":467.5,"y":276.29998779296875,"wires":[]},{"id":"8618e2f5.aaeeb","type":"inject","z":"1b1203d8.e0698c","name":"","topic":"","payload":"[80345834.988]","payloadType":"str","repeat":"","crontab":"","once":false,"x":192.5,"y":219.14996337890625,"wires":[["6925dfa3.76806"]]},{"id":"1e277358.52e59d","type":"function","z":"1b1203d8.e0698c","name":"","func":"msg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":276,"wires":[["b2ee7b1.444b088"]]},{"id":"74c7fc33.3fed74","type":"function","z":"e4ec212f.b0f7a","name":"insert sql","func":"var ts     = msg.payload.ts; \nvar year    = ts.getFullYear();\nvar month   = ts.getMonth()+1; \nvar day     = ts.getDate();\nvar hour    = ts.getHours();\nvar minute  = ts.getMinutes();\nvar second  = ts.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \nvar timestamp = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\npld = \"INSERT INTO sfcwcm10_sa31(_id,ts,sensorid,value) \"\npld = pld + \"VALUES('\"+msg.payload._id+\"','\"+\n      timestamp +\"','\"+msg.payload.sensorId+\"',\"+\n      msg.payload.v+\")\";\n//pld = pld + \"WHERE id = \" + msg.payload\n\nif (msg.payload.sensorId.indexOf(\"D5\") > -1) {\n   msg.payload = pld;\n}\nelse {\n   msg.payload = null;\n}\nreturn msg;\n","outputs":"1","noerr":0,"x":1012,"y":183.10000610351562,"wires":[["ad786c3f.9a48d"]]},{"id":"fce29e62.a5b6d","type":"inject","z":"e4ec212f.b0f7a","name":"","topic":"select max(_id) _id from sfcwcm10_sa31","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":114.5,"y":184.10000610351562,"wires":[["c6c083a8.11c88"]]},{"id":"205d93c7.45685c","type":"function","z":"e4ec212f.b0f7a","name":"_id_2","func":"/*msg.operation = \"limit(3)\";\nmsg.payload.n = \"Value\";\nmsg.payload.sensorId = {$regex: \"D5\"};\nmsg.payload._id = {\"$gt\":msg.payload._id};\n\nreturn msg;\n*/\n\nvar newMsg = {};\n\nnewMsg.operation  = \"find.forEach\";\nnewMsg.collection = \"WASCADAHandler\";\nnewMsg.payload    = { \n    \"n\" : \"Value\",\n    \"sensorId\":{$regex: \"D5\"},\n    \"_id\":Object({\"$gt\":msg._id})};\n\n//newMsg.projection = { 'name' : 1 , '_id' : 0 };\n//ewMsg.skip = 0;\n//collection.find(selector,msg.projection).sort(msg.sort).limit(msg.limit).skip(msg.skip);\nreturn newMsg;\n\n","outputs":1,"noerr":0,"x":736.5,"y":178.55001831054687,"wires":[["9dcc12eb.3440d"]]},{"id":"7f2f8fd4.e185a","type":"function","z":"e4ec212f.b0f7a","name":"_id_1","func":"msg = {_id:msg.payload[0]._id};\nreturn msg;","outputs":1,"noerr":0,"x":402.5,"y":181.54998779296875,"wires":[["2e44da34.784286"]]},{"id":"ad786c3f.9a48d","type":"switch","z":"e4ec212f.b0f7a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","outputs":2,"x":1145,"y":177.54998779296875,"wires":[["bdd42d0d.91629"],[]]},{"id":"bdd42d0d.91629","type":"function","z":"e4ec212f.b0f7a","name":"insert","func":"msg.topic = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1278,"y":173.70001220703125,"wires":[["c9e29cf5.1f63a"]]},{"id":"c6c083a8.11c88","type":"mysql","z":"e4ec212f.b0f7a","mydb":"79af9e65.845df","name":"","x":272,"y":181,"wires":[["7f2f8fd4.e185a"]]},{"id":"c9e29cf5.1f63a","type":"mysql","z":"e4ec212f.b0f7a","mydb":"79af9e65.845df","name":"","x":1403.5,"y":174.10000610351562,"wires":[[]]},{"id":"9dcc12eb.3440d","type":"mongodb3 in","z":"e4ec212f.b0f7a","service":"_ext_","configNode":"473a8df9.c1f424","name":"","collection":"","operation":"","x":870.5,"y":180.75,"wires":[["74c7fc33.3fed74"]]},{"id":"2e44da34.784286","type":"objectid","z":"e4ec212f.b0f7a","name":"","property":"_id","propertyType":"msg","x":572.5,"y":179.4499969482422,"wires":[["205d93c7.45685c"]]},{"id":"d7918c2a.8230d","type":"function","z":"e4ec212f.b0f7a","name":"insert sql","func":"var ts     = msg.payload.ts; \nvar year    = ts.getFullYear();\nvar month   = ts.getMonth()+1; \nvar day     = ts.getDate();\nvar hour    = ts.getHours();\nvar minute  = ts.getMinutes();\nvar second  = ts.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \nvar timestamp = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\npld = \"INSERT INTO sfcwcm10_sa31(_id,ts,sensorid,value) \"\npld = pld + \"VALUES('\"+msg.payload._id+\"','\"+\n      timestamp +\"','\"+msg.payload.sensorId+\"',\"+\n      msg.payload.v+\")\";\n//pld = pld + \"WHERE id = \" + msg.payload\n\nif (msg.payload.sensorId.indexOf(\"D5\") > -1) {\n   msg.payload = pld;\n}\nelse {\n   msg.payload = null;\n}\nreturn msg;\n","outputs":"1","noerr":0,"x":1001.5,"y":344,"wires":[["728aaf92.beb54"]]},{"id":"e776b1c2.5950c","type":"inject","z":"e4ec212f.b0f7a","name":"","topic":"select max(_id) _id from sfcwcm10_sa31","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":109,"y":342,"wires":[["d028426d.7bbdc"]]},{"id":"3aaaaae1.1f2346","type":"function","z":"e4ec212f.b0f7a","name":"_id_2","func":"/*msg.operation = \"limit(3)\";\nmsg.payload.n = \"Value\";\nmsg.payload.sensorId = {$regex: \"D5\"};\nmsg.payload._id = {\"$gt\":msg.payload._id};\n\nreturn msg;\n*/\n\nvar newMsg = {};\n\nnewMsg.operation  = \"findOne\";\nnewMsg.collection = \"WASCADAHandler\";\nnewMsg.payload    = { \n    \"n\" : \"Value\",\n    \"sensorId\":{$regex: \"D5\"},\n    \"_id\":Object({\"$gt\":msg._id})};\n\n//newMsg.projection = { 'name' : 1 , '_id' : 0 };\n//ewMsg.skip = 0;\n//collection.find(selector,msg.projection).sort(msg.sort).limit(msg.limit).skip(msg.skip);\nreturn newMsg;\n\n","outputs":1,"noerr":0,"x":726,"y":339.45001220703125,"wires":[["2f4a4056.08fd8"]]},{"id":"b7970c78.2328c","type":"function","z":"e4ec212f.b0f7a","name":"_id_1","func":"msg = {_id:msg.payload[0]._id};\nreturn msg;","outputs":1,"noerr":0,"x":392,"y":342.4499816894531,"wires":[["7f929cc1.cdef14"]]},{"id":"728aaf92.beb54","type":"switch","z":"e4ec212f.b0f7a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","outputs":2,"x":1134.5,"y":338.4499816894531,"wires":[["fc843b19.ffdeb8"],[]]},{"id":"fc843b19.ffdeb8","type":"function","z":"e4ec212f.b0f7a","name":"insert","func":"msg.topic = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1267.5,"y":334.6000061035156,"wires":[["4d262fcf.1ae38"]]},{"id":"d028426d.7bbdc","type":"mysql","z":"e4ec212f.b0f7a","mydb":"79af9e65.845df","name":"","x":261.5,"y":341.8999938964844,"wires":[["b7970c78.2328c"]]},{"id":"4d262fcf.1ae38","type":"mysql","z":"e4ec212f.b0f7a","mydb":"79af9e65.845df","name":"","x":1393,"y":335,"wires":[[]]},{"id":"2f4a4056.08fd8","type":"mongodb3 in","z":"e4ec212f.b0f7a","service":"_ext_","configNode":"473a8df9.c1f424","name":"","collection":"","operation":"","x":860,"y":341.6499938964844,"wires":[["d7918c2a.8230d"]]},{"id":"7f929cc1.cdef14","type":"objectid","z":"e4ec212f.b0f7a","name":"","property":"_id","propertyType":"msg","x":562,"y":340.34999084472656,"wires":[["3aaaaae1.1f2346"]]},{"id":"28dfd7b.f54a028","type":"comment","z":"e4ec212f.b0f7a","name":"fineOne","info":"","x":74.5,"y":299.4499816894531,"wires":[]},{"id":"fcf91720.7639a8","type":"comment","z":"e4ec212f.b0f7a","name":"fine.forEach","info":"","x":99,"y":124,"wires":[]},{"id":"1ce37a1c.7e6a06","type":"function","z":"e4ec212f.b0f7a","name":"insert sql","func":"var ts     = msg.payload.ts; \nvar year    = ts.getFullYear();\nvar month   = ts.getMonth()+1; \nvar day     = ts.getDate();\nvar hour    = ts.getHours();\nvar minute  = ts.getMinutes();\nvar second  = ts.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \nvar timestamp = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\npld = \"INSERT INTO sfcwcm10_sa31(_id,ts,sensorid,value) \"\npld = pld + \"VALUES('\"+msg.payload._id+\"','\"+\n      timestamp +\"','\"+msg.payload.sensorId+\"',\"+\n      msg.payload.v+\")\";\n//pld = pld + \"WHERE id = \" + msg.payload\n\nif (msg.payload.sensorId.indexOf(\"D5\") > -1) {\n   msg.payload = pld;\n}\nelse {\n   msg.payload = null;\n}\nreturn msg;\n","outputs":"1","noerr":0,"x":686.3336181640625,"y":972.6665649414062,"wires":[["a64533f0.2c23c"]]},{"id":"84add297.e74b8","type":"inject","z":"e4ec212f.b0f7a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":127.83334350585937,"y":665.7132568359375,"wires":[["da6e7df6.ac098","84ee8297.dee82","326c2dfc.65f352"]]},{"id":"5445ceb5.5e935","type":"function","z":"e4ec212f.b0f7a","name":"_id_2","func":"/*msg.operation = \"limit(3)\";\nmsg.payload.n = \"Value\";\nmsg.payload.sensorId = {$regex: \"D5\"};\nmsg.payload._id = {\"$gt\":msg.payload._id};\n\nreturn msg;\n*/\n\nvar newMsg = {};\nnewMsg.operation  = \"findOne\";\nnewMsg.collection = \"WASCADAHandler\";\nnewMsg.payload    = { \n    \"n\" : \"Value\",\n    \"sensorId\":msg.sensorid,\n    \"_id\":Object({\"$gt\":msg._id})};\n\n//newMsg.projection = { 'name' : 1 , '_id' : 0 };\n//ewMsg.skip = 0;\n//collection.find(selector,msg.projection).sort(msg.sort).limit(msg.limit).skip(msg.skip);\nreturn newMsg;\n\n","outputs":1,"noerr":0,"x":892.66650390625,"y":759.9500122070312,"wires":[["f82463d3.c0798"]]},{"id":"9d22639f.437c7","type":"function","z":"e4ec212f.b0f7a","name":"_id_1","func":"msg = {_id:msg.payload[0]._id,\n       sensorid:msg.sensorid\n};\nreturn msg;","outputs":1,"noerr":0,"x":692.4999389648437,"y":648.4499816894531,"wires":[["6706150b.a3e70c"]]},{"id":"a64533f0.2c23c","type":"switch","z":"e4ec212f.b0f7a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","outputs":2,"x":828.5,"y":978.2833404541016,"wires":[["d8a51e69.d1971"],[]]},{"id":"d8a51e69.d1971","type":"function","z":"e4ec212f.b0f7a","name":"insert","func":"msg.topic = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":973.9999389648437,"y":989.4333038330078,"wires":[["8363e62a.a65bb8"]]},{"id":"29cfa834.050288","type":"mysql","z":"e4ec212f.b0f7a","mydb":"79af9e65.845df","name":"","x":615.3333740234375,"y":596.3999633789062,"wires":[["9d22639f.437c7"]]},{"id":"8363e62a.a65bb8","type":"mysql","z":"e4ec212f.b0f7a","mydb":"79af9e65.845df","name":"","x":1095.4998779296875,"y":988.8333129882812,"wires":[[]]},{"id":"f82463d3.c0798","type":"mongodb3 in","z":"e4ec212f.b0f7a","service":"_ext_","configNode":"473a8df9.c1f424","name":"","collection":"","operation":"","x":983.1666259765625,"y":811.8249053955078,"wires":[["1ce37a1c.7e6a06"]]},{"id":"6706150b.a3e70c","type":"objectid","z":"e4ec212f.b0f7a","name":"","property":"_id","propertyType":"msg","x":785,"y":709.5166015625,"wires":[["5445ceb5.5e935"]]},{"id":"da6e7df6.ac098","type":"function","z":"e4ec212f.b0f7a","name":"D5001","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5001/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":357.1666259765625,"y":483.28326416015625,"wires":[["29cfa834.050288"]]},{"id":"dcd66c43.24ed4","type":"function","z":"e4ec212f.b0f7a","name":"D5002","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5002/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":350.1666259765625,"y":530,"wires":[["e1fbaddd.aae64"]]},{"id":"783ccb5d.9d9ca4","type":"function","z":"e4ec212f.b0f7a","name":"D5003","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5003/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":348.1666259765625,"y":568,"wires":[["e1fbaddd.aae64"]]},{"id":"2b7a6d86.797942","type":"function","z":"e4ec212f.b0f7a","name":"D5004","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5004/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":346.1666259765625,"y":609,"wires":[["e1fbaddd.aae64"]]},{"id":"ad068bea.73bea8","type":"function","z":"e4ec212f.b0f7a","name":"D5005","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5005/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":345.9999694824219,"y":645.3333435058594,"wires":[["e1fbaddd.aae64"]]},{"id":"e3f74dc4.97aeb","type":"function","z":"e4ec212f.b0f7a","name":"D5006","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5006/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":345.1666259765625,"y":686,"wires":[["e1fbaddd.aae64"]]},{"id":"7269140a.39c0ac","type":"function","z":"e4ec212f.b0f7a","name":"D5007","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5007/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":345.1666259765625,"y":724,"wires":[["e1fbaddd.aae64"]]},{"id":"4870a4a8.afc99c","type":"function","z":"e4ec212f.b0f7a","name":"D5008","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5008/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":344.1666259765625,"y":762,"wires":[["e1fbaddd.aae64"]]},{"id":"b77a831d.ac947","type":"function","z":"e4ec212f.b0f7a","name":"D5009","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5009/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":345.1666259765625,"y":799,"wires":[["e1fbaddd.aae64"]]},{"id":"2112bf28.4c3b7","type":"function","z":"e4ec212f.b0f7a","name":"D5011","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5011/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":348.1666259765625,"y":876,"wires":[["e1fbaddd.aae64"]]},{"id":"d2b12632.f0d158","type":"function","z":"e4ec212f.b0f7a","name":"D5010","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5010/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":344.1666259765625,"y":836,"wires":[["e1fbaddd.aae64"]]},{"id":"506d54dc.38ad5c","type":"function","z":"e4ec212f.b0f7a","name":"D5012","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5012/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":348.1666259765625,"y":917,"wires":[["e1fbaddd.aae64"]]},{"id":"fd9ae952.0e7308","type":"function","z":"e4ec212f.b0f7a","name":"D5013","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5013/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":349.1666259765625,"y":957,"wires":[["e1fbaddd.aae64"]]},{"id":"44034c19.8388c4","type":"function","z":"e4ec212f.b0f7a","name":"D5014","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5014/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":347.6666259765625,"y":998.3332824707031,"wires":[["e1fbaddd.aae64"]]},{"id":"e573137f.0265b","type":"function","z":"e4ec212f.b0f7a","name":"D5015","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5015/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":347.6666259765625,"y":1039.3332824707031,"wires":[["e1fbaddd.aae64"]]},{"id":"69181ca6.e4f174","type":"function","z":"e4ec212f.b0f7a","name":"D5025","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5025/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":346.6666259765625,"y":1079.3332824707031,"wires":[["e1fbaddd.aae64"]]},{"id":"960d388b.bab1d8","type":"function","z":"e4ec212f.b0f7a","name":"D5026","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5026/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":346.6666259765625,"y":1119.3332824707031,"wires":[["e1fbaddd.aae64"]]},{"id":"e668e03a.3b348","type":"function","z":"e4ec212f.b0f7a","name":"D5027","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5027/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":345.6666259765625,"y":1156.3332824707031,"wires":[["e1fbaddd.aae64"]]},{"id":"c3bc1259.a365","type":"function","z":"e4ec212f.b0f7a","name":"D5028","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5028/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":336.5,"y":1197.6667175292968,"wires":[["e1fbaddd.aae64"]]},{"id":"a42d6e0f.727b1","type":"function","z":"e4ec212f.b0f7a","name":"D5029","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5029/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":336.5,"y":1233.6667175292968,"wires":[["e1fbaddd.aae64"]]},{"id":"81ee1ed9.6c4d7","type":"function","z":"e4ec212f.b0f7a","name":"D5030","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5030/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":334.5,"y":1269.6667175292968,"wires":[["e1fbaddd.aae64"]]},{"id":"63d3574c.0676a8","type":"function","z":"e4ec212f.b0f7a","name":"D5037","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5037/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":340.6665954589844,"y":1315.8501586914062,"wires":[["e1fbaddd.aae64"]]},{"id":"5edd0513.c06b1c","type":"function","z":"e4ec212f.b0f7a","name":"D5038","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5038/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":342.6665954589844,"y":1352.8501586914062,"wires":[["e1fbaddd.aae64"]]},{"id":"d09bd729.043b28","type":"function","z":"e4ec212f.b0f7a","name":"D5039","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5039/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":343.6665954589844,"y":1389.8501586914062,"wires":[["e1fbaddd.aae64"]]},{"id":"9422f473.c21fc8","type":"function","z":"e4ec212f.b0f7a","name":"D5040","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5040/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":343.6665954589844,"y":1425.8501586914062,"wires":[["e1fbaddd.aae64"]]},{"id":"79fce221.9b308c","type":"function","z":"e4ec212f.b0f7a","name":"D5041","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5041/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":345.6665954589844,"y":1464.8501586914062,"wires":[["e1fbaddd.aae64"]]},{"id":"5e5b8175.dc90a","type":"function","z":"e4ec212f.b0f7a","name":"D5042","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5042/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":346.6665954589844,"y":1502.8501586914062,"wires":[["e1fbaddd.aae64"]]},{"id":"727345be.dba65c","type":"function","z":"e4ec212f.b0f7a","name":"D5043","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5043/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":343.6665954589844,"y":1540.8501586914062,"wires":[["e1fbaddd.aae64"]]},{"id":"84e21c2e.e353d","type":"function","z":"e4ec212f.b0f7a","name":"D5044","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5044/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":346.4999084472656,"y":1581.1669616699218,"wires":[["e1fbaddd.aae64"]]},{"id":"cce5871c.9f1e18","type":"function","z":"e4ec212f.b0f7a","name":"D5045","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5045/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":348.4999084472656,"y":1620.1669616699218,"wires":[["e1fbaddd.aae64"]]},{"id":"c3c2f6b.f834a08","type":"function","z":"e4ec212f.b0f7a","name":"D5046","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5046/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":348.4999084472656,"y":1656.1669616699218,"wires":[["e1fbaddd.aae64"]]},{"id":"ea7316af.518dc8","type":"function","z":"e4ec212f.b0f7a","name":"D5047","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5047/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":349.4999084472656,"y":1690.1669616699218,"wires":[["e1fbaddd.aae64"]]},{"id":"b13f3c9a.d0808","type":"function","z":"e4ec212f.b0f7a","name":"D5048","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5048/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":348.4999084472656,"y":1728.1669616699218,"wires":[["e1fbaddd.aae64"]]},{"id":"d3c76d9c.61457","type":"function","z":"e4ec212f.b0f7a","name":"D5049","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5049/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":347.4999084472656,"y":1766.1669616699218,"wires":[["e1fbaddd.aae64"]]},{"id":"6ff408a9.45fd98","type":"function","z":"e4ec212f.b0f7a","name":"D5050","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5050/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":346.4999084472656,"y":1803.1669616699218,"wires":[["e1fbaddd.aae64"]]},{"id":"a2d05bc7.deb578","type":"function","z":"e4ec212f.b0f7a","name":"D5051","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5051/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":343.4999084472656,"y":1840.1669616699218,"wires":[["e1fbaddd.aae64"]]},{"id":"b6389f7f.35e29","type":"function","z":"e4ec212f.b0f7a","name":"D5052","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5052/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":343.4999084472656,"y":1878.1669616699218,"wires":[["e1fbaddd.aae64"]]},{"id":"3327fad5.3e19a6","type":"function","z":"e4ec212f.b0f7a","name":"D5053","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5053/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":343.4999084472656,"y":1916.1669616699218,"wires":[["e1fbaddd.aae64"]]},{"id":"3d5a983c.933908","type":"function","z":"e4ec212f.b0f7a","name":"D5054","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5054/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":338.6665954589844,"y":1952.6669006347656,"wires":[["e1fbaddd.aae64"]]},{"id":"14b53a21.41efd6","type":"function","z":"e4ec212f.b0f7a","name":"D5055","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5055/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":337.4999084472656,"y":1991.1669311523437,"wires":[["e1fbaddd.aae64"]]},{"id":"f3d09dd2.d474d","type":"function","z":"e4ec212f.b0f7a","name":"D5056","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5056/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":343.99993896484375,"y":2036.1669311523437,"wires":[["e1fbaddd.aae64"]]},{"id":"6daee718.b279d8","type":"function","z":"e4ec212f.b0f7a","name":"D5057","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5057/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":337.8333740234375,"y":2626.6922607421875,"wires":[["e1fbaddd.aae64"]]},{"id":"eefe1303.e5d9","type":"function","z":"e4ec212f.b0f7a","name":"D5058","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5058/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":338.3333435058594,"y":2665.1259765625,"wires":[["e1fbaddd.aae64"]]},{"id":"776c0506.da1f9c","type":"function","z":"e4ec212f.b0f7a","name":"D5059","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5059/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":347.0000305175781,"y":2704.1925354003906,"wires":[["e1fbaddd.aae64"]]},{"id":"9ae3ff9.8ddf1","type":"function","z":"e4ec212f.b0f7a","name":"D5060","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5060/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":346.0000305175781,"y":2739.1925354003906,"wires":[["e1fbaddd.aae64"]]},{"id":"b38fcb6.3a1d538","type":"function","z":"e4ec212f.b0f7a","name":"D5061","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5061/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":347.0000305175781,"y":2777.1925354003906,"wires":[["e1fbaddd.aae64"]]},{"id":"a73fcc5d.91a85","type":"function","z":"e4ec212f.b0f7a","name":"D5062","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5062/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":344.0000305175781,"y":2812.1925354003906,"wires":[["e1fbaddd.aae64"]]},{"id":"f5ae0c97.c5de5","type":"function","z":"e4ec212f.b0f7a","name":"D5063","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5063/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":348.0000305175781,"y":2849.1925354003906,"wires":[["e1fbaddd.aae64"]]},{"id":"3fd6d3c4.64f70c","type":"function","z":"e4ec212f.b0f7a","name":"D5064","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5064/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":355.0000305175781,"y":2885.1925354003906,"wires":[["e1fbaddd.aae64"]]},{"id":"85e71ade.7a0df8","type":"function","z":"e4ec212f.b0f7a","name":"D5065","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5065/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":355.8333435058594,"y":2922.359344482422,"wires":[["e1fbaddd.aae64"]]},{"id":"65c7aa37.f31f54","type":"function","z":"e4ec212f.b0f7a","name":"D5066","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5066/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":354.0000305175781,"y":2960.1925354003906,"wires":[["e1fbaddd.aae64"]]},{"id":"74459b0c.3ce904","type":"function","z":"e4ec212f.b0f7a","name":"D5067","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5067/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":351.66668701171875,"y":2995.526123046875,"wires":[["e1fbaddd.aae64"]]},{"id":"e0913a05.e188a8","type":"function","z":"e4ec212f.b0f7a","name":"D5068","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5068/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":357.0000305175781,"y":3035.1925354003906,"wires":[["e1fbaddd.aae64"]]},{"id":"eabe904e.b304a","type":"function","z":"e4ec212f.b0f7a","name":"D5069","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5069/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":361.0000305175781,"y":3071.1925354003906,"wires":[["e1fbaddd.aae64"]]},{"id":"149b0657.db597a","type":"function","z":"e4ec212f.b0f7a","name":"D5070","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5070/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":359.8334655761719,"y":3109.6915588378906,"wires":[["e1fbaddd.aae64"]]},{"id":"f2498729.ccf298","type":"function","z":"e4ec212f.b0f7a","name":"D5071","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5071/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":358.5000305175781,"y":3146.3575744628906,"wires":[["e1fbaddd.aae64"]]},{"id":"edb5ec6c.20ba8","type":"function","z":"e4ec212f.b0f7a","name":"D5072","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5072/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":363.666748046875,"y":3182.5244750976562,"wires":[["e1fbaddd.aae64"]]},{"id":"8c4bf362.b4e56","type":"function","z":"e4ec212f.b0f7a","name":"D5073","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5073/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":364.666748046875,"y":3218.5244750976562,"wires":[["e1fbaddd.aae64"]]},{"id":"693e1943.0e88b8","type":"function","z":"e4ec212f.b0f7a","name":"D5074","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5074/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":379.166748046875,"y":3253.857864379883,"wires":[["e1fbaddd.aae64"]]},{"id":"e2e6cf38.448c3","type":"function","z":"e4ec212f.b0f7a","name":"D5075","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5075/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":386.0000915527344,"y":3295.5245513916015,"wires":[["e1fbaddd.aae64"]]},{"id":"16c9e4dd.63484b","type":"function","z":"e4ec212f.b0f7a","name":"D5076","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5076/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":383.0000915527344,"y":3335.5245513916015,"wires":[["e1fbaddd.aae64"]]},{"id":"bc360895.4ddc28","type":"function","z":"e4ec212f.b0f7a","name":"D5077","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5077/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":383.6666564941406,"y":3377.432861328125,"wires":[["e1fbaddd.aae64"]]},{"id":"6c452edb.4f86b","type":"function","z":"e4ec212f.b0f7a","name":"D5078","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5078/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":384.6666564941406,"y":3415.432861328125,"wires":[["e1fbaddd.aae64"]]},{"id":"f8bafaa5.8923f8","type":"function","z":"e4ec212f.b0f7a","name":"D5079","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5079/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":382.6666564941406,"y":3453.432861328125,"wires":[["e1fbaddd.aae64"]]},{"id":"e7bf3b65.77fb98","type":"function","z":"e4ec212f.b0f7a","name":"D5080","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5080/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":381.6666564941406,"y":3490.432861328125,"wires":[["e1fbaddd.aae64"]]},{"id":"62da39ed.8465c8","type":"function","z":"e4ec212f.b0f7a","name":"D5081","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5081/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":394.1666259765625,"y":3529.100082397461,"wires":[["e1fbaddd.aae64"]]},{"id":"2696f15a.0dcb1e","type":"function","z":"e4ec212f.b0f7a","name":"D5082","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5082/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":393.1666259765625,"y":3567.100082397461,"wires":[["e1fbaddd.aae64"]]},{"id":"864e23c5.50da2","type":"function","z":"e4ec212f.b0f7a","name":"D5083","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5083/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":392.1666259765625,"y":3608.100082397461,"wires":[["e1fbaddd.aae64"]]},{"id":"c06aeee2.1a50b","type":"function","z":"e4ec212f.b0f7a","name":"D5084","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5084/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":393.1666259765625,"y":3649.100082397461,"wires":[["e1fbaddd.aae64"]]},{"id":"f2d159fe.36e2c8","type":"function","z":"e4ec212f.b0f7a","name":"D5085","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5085/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":394.1666259765625,"y":3685.100082397461,"wires":[["e1fbaddd.aae64"]]},{"id":"ddb147b4.d4c108","type":"function","z":"e4ec212f.b0f7a","name":"D5086","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5086/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":387.1666259765625,"y":3720.100082397461,"wires":[["e1fbaddd.aae64"]]},{"id":"e9ad83fa.056c","type":"function","z":"e4ec212f.b0f7a","name":"D5087","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5087/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":390.1666259765625,"y":3757.100082397461,"wires":[["e1fbaddd.aae64"]]},{"id":"e95c021a.ef309","type":"function","z":"e4ec212f.b0f7a","name":"D5088","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5088/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":390.1666259765625,"y":3794.100082397461,"wires":[["e1fbaddd.aae64"]]},{"id":"fdd94201.453bc","type":"function","z":"e4ec212f.b0f7a","name":"D5089","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5089/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":392.1666259765625,"y":3828.100082397461,"wires":[["e1fbaddd.aae64"]]},{"id":"581fa0a2.41de9","type":"function","z":"e4ec212f.b0f7a","name":"D5090","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5090/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":396.1666259765625,"y":3865.100082397461,"wires":[["e1fbaddd.aae64"]]},{"id":"cd3d279f.9da7a8","type":"function","z":"e4ec212f.b0f7a","name":"D5101","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5101/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":396.1666259765625,"y":3901.100082397461,"wires":[["e1fbaddd.aae64"]]},{"id":"417cf92b.ec8fb8","type":"function","z":"e4ec212f.b0f7a","name":"D5102","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5102/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":395.1666259765625,"y":3938.100082397461,"wires":[["e1fbaddd.aae64"]]},{"id":"1245264e.b2a75a","type":"function","z":"e4ec212f.b0f7a","name":"D5103","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5103/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":397.1666259765625,"y":3975.100082397461,"wires":[["e1fbaddd.aae64"]]},{"id":"3bc13598.eac79a","type":"function","z":"e4ec212f.b0f7a","name":"D5104","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5104/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":409.4999694824219,"y":4016.1001586914062,"wires":[["e1fbaddd.aae64"]]},{"id":"d375658c.becae8","type":"function","z":"e4ec212f.b0f7a","name":"D5105","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5105/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":406.0002136230469,"y":4056.6666564941406,"wires":[["e1fbaddd.aae64"]]},{"id":"72e80cb8.17cec4","type":"function","z":"e4ec212f.b0f7a","name":"D5106","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5106/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":406.0002136230469,"y":4097.666656494141,"wires":[["e1fbaddd.aae64"]]},{"id":"66dc86e6.8dcc58","type":"function","z":"e4ec212f.b0f7a","name":"D5107","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5107/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":345.4997863769531,"y":2073.133758544922,"wires":[["e1fbaddd.aae64"]]},{"id":"e701d647.f71118","type":"function","z":"e4ec212f.b0f7a","name":"D5108","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5108/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":344.1665344238281,"y":2107.800323486328,"wires":[["e1fbaddd.aae64"]]},{"id":"ab5b8418.7d85b8","type":"function","z":"e4ec212f.b0f7a","name":"D5109","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5109/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":345.8331604003906,"y":2142.8003845214844,"wires":[["e1fbaddd.aae64"]]},{"id":"40b3cffc.80f9f","type":"function","z":"e4ec212f.b0f7a","name":"D5110","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5110/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":349.1665954589844,"y":2176.1336059570312,"wires":[["e1fbaddd.aae64"]]},{"id":"938498c2.4cc4f8","type":"function","z":"e4ec212f.b0f7a","name":"D5111","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5111/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":350.8330383300781,"y":2213.6336669921875,"wires":[["e1fbaddd.aae64"]]},{"id":"4ebe78bc.e62d28","type":"function","z":"e4ec212f.b0f7a","name":"D5112","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5112/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":339.1665954589844,"y":2251.150115966797,"wires":[["e1fbaddd.aae64"]]},{"id":"13505186.e17e8e","type":"function","z":"e4ec212f.b0f7a","name":"D5113","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5113/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":340.8332214355469,"y":2289.483428955078,"wires":[["e1fbaddd.aae64"]]},{"id":"1e182ccd.f5d3a3","type":"function","z":"e4ec212f.b0f7a","name":"D5114","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5114/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":339.1665954589844,"y":2325.3167114257812,"wires":[["e1fbaddd.aae64"]]},{"id":"92671f75.51ce4","type":"function","z":"e4ec212f.b0f7a","name":"D5115","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5115/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":344.9999084472656,"y":2361.983367919922,"wires":[["e1fbaddd.aae64"]]},{"id":"f741a9d6.9ab8c8","type":"function","z":"e4ec212f.b0f7a","name":"D5116","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5116/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":347.5000305175781,"y":2399.4834899902344,"wires":[["e1fbaddd.aae64"]]},{"id":"38942de4.b904c2","type":"function","z":"e4ec212f.b0f7a","name":"D5117","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5117/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":349.1666564941406,"y":2435.316680908203,"wires":[["e1fbaddd.aae64"]]},{"id":"eddf67c7.bc20f8","type":"function","z":"e4ec212f.b0f7a","name":"D5118","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5118/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":354.1666564941406,"y":2472.8167419433594,"wires":[["e1fbaddd.aae64"]]},{"id":"84ee8297.dee82","type":"function","z":"e4ec212f.b0f7a","name":"before","func":"\nreturn msg;","outputs":1,"noerr":0,"x":149.9998779296875,"y":4347.099273681641,"wires":[["dcd66c43.24ed4","783ccb5d.9d9ca4","2b7a6d86.797942","ad068bea.73bea8","e3f74dc4.97aeb","7269140a.39c0ac","4870a4a8.afc99c","b77a831d.ac947","d2b12632.f0d158","2112bf28.4c3b7","506d54dc.38ad5c","fd9ae952.0e7308","44034c19.8388c4","e573137f.0265b","69181ca6.e4f174","960d388b.bab1d8","e668e03a.3b348","c3bc1259.a365","a42d6e0f.727b1","81ee1ed9.6c4d7","63d3574c.0676a8","5edd0513.c06b1c","d09bd729.043b28","9422f473.c21fc8","79fce221.9b308c","5e5b8175.dc90a","727345be.dba65c","84e21c2e.e353d","cce5871c.9f1e18","c3c2f6b.f834a08","ea7316af.518dc8","b13f3c9a.d0808","d3c76d9c.61457","6ff408a9.45fd98","a2d05bc7.deb578","b6389f7f.35e29","3327fad5.3e19a6","3d5a983c.933908","14b53a21.41efd6","f3d09dd2.d474d","66dc86e6.8dcc58","e701d647.f71118","ab5b8418.7d85b8","40b3cffc.80f9f","938498c2.4cc4f8","4ebe78bc.e62d28","13505186.e17e8e","1e182ccd.f5d3a3","92671f75.51ce4","f741a9d6.9ab8c8","38942de4.b904c2","eddf67c7.bc20f8","e12c7ef9.e99ef","40766688.066c98","a370025c.d130e","6daee718.b279d8","eefe1303.e5d9","776c0506.da1f9c","9ae3ff9.8ddf1","b38fcb6.3a1d538","a73fcc5d.91a85","3fd6d3c4.64f70c","f5ae0c97.c5de5","85e71ade.7a0df8","65c7aa37.f31f54","74459b0c.3ce904","e0913a05.e188a8","eabe904e.b304a","149b0657.db597a","f2498729.ccf298","edb5ec6c.20ba8","8c4bf362.b4e56","693e1943.0e88b8","e2e6cf38.448c3","16c9e4dd.63484b","bc360895.4ddc28","6c452edb.4f86b","f8bafaa5.8923f8","e7bf3b65.77fb98","62da39ed.8465c8","2696f15a.0dcb1e","864e23c5.50da2","c06aeee2.1a50b","f2d159fe.36e2c8","ddb147b4.d4c108","e9ad83fa.056c","e95c021a.ef309","fdd94201.453bc","581fa0a2.41de9","cd3d279f.9da7a8","417cf92b.ec8fb8","1245264e.b2a75a","3bc13598.eac79a","d375658c.becae8","72e80cb8.17cec4","2cc4f01a.d2b89","cf7c630d.15d04","9f7f589c.a544b8","eb193d94.d885c","d6db61d6.a0a18","5838022b.5c43fc","2f9f97c0.d14e98","ec55cd06.5ca17","d09f28ad.194f58","d4a34801.dddac8","82bef37d.7d71d","69349484.29671c","5295b182.d9d3a","fe2b7de4.1a482","d9e4f6ec.f61e78","c73909eb.51aa08","eee646ed.76c118","ce9ca001.3dc79","b67bd640.0eafd8","a26660d.78db0a","e60ff49b.4a8bf8","e652ee69.2ea13","c236b622.426c28","3cfa57fb.17e058"]]},{"id":"e1fbaddd.aae64","type":"function","z":"e4ec212f.b0f7a","name":"after","func":"\nreturn msg;","outputs":1,"noerr":0,"x":724.166259765625,"y":4383.657867431641,"wires":[["29cfa834.050288"]]},{"id":"e12c7ef9.e99ef","type":"function","z":"e4ec212f.b0f7a","name":"D5131","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5131/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":352.4999084472656,"y":2506.983428955078,"wires":[["e1fbaddd.aae64"]]},{"id":"40766688.066c98","type":"function","z":"e4ec212f.b0f7a","name":"D5132","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5132/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":349.9999084472656,"y":2542.8167419433594,"wires":[["e1fbaddd.aae64"]]},{"id":"a370025c.d130e","type":"function","z":"e4ec212f.b0f7a","name":"D5133","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5133/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":345.8332824707031,"y":2581.983428955078,"wires":[["e1fbaddd.aae64"]]},{"id":"2cc4f01a.d2b89","type":"function","z":"e4ec212f.b0f7a","name":"D5134","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5134/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":400.0001220703125,"y":4135.832733154297,"wires":[["e1fbaddd.aae64"]]},{"id":"cf7c630d.15d04","type":"function","z":"e4ec212f.b0f7a","name":"D5201","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5201/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":383.33349609375,"y":4169.999359130859,"wires":[["e1fbaddd.aae64"]]},{"id":"9f7f589c.a544b8","type":"function","z":"e4ec212f.b0f7a","name":"D5202","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5202/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":373.33349609375,"y":4201.666290283203,"wires":[["e1fbaddd.aae64"]]},{"id":"eb193d94.d885c","type":"function","z":"e4ec212f.b0f7a","name":"D5203","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5203/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":354.16680908203125,"y":4236.665985107422,"wires":[["e1fbaddd.aae64"]]},{"id":"d6db61d6.a0a18","type":"function","z":"e4ec212f.b0f7a","name":"D5206","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5206/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":376.6668395996094,"y":4274.999267578125,"wires":[["e1fbaddd.aae64"]]},{"id":"5838022b.5c43fc","type":"function","z":"e4ec212f.b0f7a","name":"D5207","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5207/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":381.6667175292969,"y":4309.999420166016,"wires":[["e1fbaddd.aae64"]]},{"id":"2f9f97c0.d14e98","type":"function","z":"e4ec212f.b0f7a","name":"D5208","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5208/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":383.3334655761719,"y":4343.332763671875,"wires":[["e1fbaddd.aae64"]]},{"id":"ec55cd06.5ca17","type":"function","z":"e4ec212f.b0f7a","name":"D5209","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5209/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":380.83331298828125,"y":4377.49951171875,"wires":[["e1fbaddd.aae64"]]},{"id":"d09f28ad.194f58","type":"function","z":"e4ec212f.b0f7a","name":"D5210","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5210/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":380.83331298828125,"y":4410.8330078125,"wires":[["e1fbaddd.aae64"]]},{"id":"d4a34801.dddac8","type":"function","z":"e4ec212f.b0f7a","name":"D5211","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5211/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":377.5,"y":4446.66650390625,"wires":[["e1fbaddd.aae64"]]},{"id":"82bef37d.7d71d","type":"function","z":"e4ec212f.b0f7a","name":"D5212","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5212/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":380.83331298828125,"y":4484.16650390625,"wires":[["e1fbaddd.aae64"]]},{"id":"69349484.29671c","type":"function","z":"e4ec212f.b0f7a","name":"D5213","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5213/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":376.6666259765625,"y":4519.99951171875,"wires":[["e1fbaddd.aae64"]]},{"id":"5295b182.d9d3a","type":"function","z":"e4ec212f.b0f7a","name":"D5214","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5214/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":4558.3330078125,"wires":[["e1fbaddd.aae64"]]},{"id":"fe2b7de4.1a482","type":"function","z":"e4ec212f.b0f7a","name":"D5215","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5215/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":386.6666259765625,"y":4589.999572753906,"wires":[["e1fbaddd.aae64"]]},{"id":"d9e4f6ec.f61e78","type":"function","z":"e4ec212f.b0f7a","name":"D5216","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5216/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":385.83331298828125,"y":4624.99951171875,"wires":[["e1fbaddd.aae64"]]},{"id":"c73909eb.51aa08","type":"function","z":"e4ec212f.b0f7a","name":"D5217","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5217/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":389.1666259765625,"y":4663.3330078125,"wires":[["e1fbaddd.aae64"]]},{"id":"eee646ed.76c118","type":"function","z":"e4ec212f.b0f7a","name":"D5231","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5231/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":385,"y":4700.8330078125,"wires":[["e1fbaddd.aae64"]]},{"id":"ce9ca001.3dc79","type":"function","z":"e4ec212f.b0f7a","name":"D5232","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5232/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":388.33331298828125,"y":4739.16650390625,"wires":[["e1fbaddd.aae64"]]},{"id":"b67bd640.0eafd8","type":"function","z":"e4ec212f.b0f7a","name":"D5236","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5236/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":393.33331298828125,"y":4776.66650390625,"wires":[["e1fbaddd.aae64"]]},{"id":"a26660d.78db0a","type":"function","z":"e4ec212f.b0f7a","name":"D5237","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5237/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":385.83331298828125,"y":4813.3330078125,"wires":[["e1fbaddd.aae64"]]},{"id":"e60ff49b.4a8bf8","type":"function","z":"e4ec212f.b0f7a","name":"D5238","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5238/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":395,"y":4848.3330078125,"wires":[["e1fbaddd.aae64"]]},{"id":"e652ee69.2ea13","type":"function","z":"e4ec212f.b0f7a","name":"D5239","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5239/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":4881.66650390625,"wires":[["e1fbaddd.aae64"]]},{"id":"c236b622.426c28","type":"function","z":"e4ec212f.b0f7a","name":"D5240","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5240/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":397.49993896484375,"y":4918.433288574219,"wires":[["e1fbaddd.aae64"]]},{"id":"3cfa57fb.17e058","type":"function","z":"e4ec212f.b0f7a","name":"D5241","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5241/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":398.33331298828125,"y":4955.932556152344,"wires":[["e1fbaddd.aae64"]]},{"id":"e1138398.9a6ec","type":"function","z":"e4ec212f.b0f7a","name":"D5242","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5242/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":931.6668701171875,"y":1073.33251953125,"wires":[["3b7cbfd6.8b449"]]},{"id":"326c2dfc.65f352","type":"function","z":"e4ec212f.b0f7a","name":"before","func":"\nreturn msg;","outputs":1,"noerr":0,"x":805,"y":2892.416961669922,"wires":[["e1138398.9a6ec","dd7964ee.f16d68","8e12d5b9.507318","822fbdaa.6a143","4153d0f2.4f8f1","e2bf2ec7.5accf","267eb7e7.5575b8","ea752b9c.1e26e8","8f7c51c8.899d1","dcf6412d.c0c51","5d4953.d01716ac","585d4c8e.e30284","b2418ba6.b0ad68","89455da0.f39aa","f42e6650.d54188","bad87500.1164a8","32ccca44.0542a6","fb21a506.058698","ea567e40.82f83","7758fb99.87a254","6d278893.6bf2e8","365f6190.7ac5ae","4ca1b185.24cdb","d982eb20.3990c8","4e47e776.1fb138","72afdbc.7024624","61ba0a05.911744","6df7c2a1.c812cc","48d3e78e.797bd8","d852750f.4a8ba8","acaf6900.1bb258","21531643.c7cdba","3b066443.6a5afc","a18a6e69.ddd55","e2c27f28.ac7f","8a9c700b.2477","3e2af29.55c8c0e","7078fa69.367374","61eb5369.3fd96c","c3614dee.8a4f2","ce529fa6.66153","5d9a0dde.6072b4","8391fc65.948c8","4880f096.87922","fee648d7.9aaae8","6745d986.1e87b8","aec8334a.902e5","b483a107.2a4ab","a40b3575.10a718","bfa2b30e.0b85b","2ada8dba.488352","804809dd.eae978","715c2dc2.1ced04","812afcef.1f27a","6a524bb3.59b154","d93e70fb.cc86e","1a9a9b73.af0a75","bb0a68e8.bbac68","1529f64b.e35a2a","6917f01c.ceea9","c89a5f3d.ee1b9","59ba7c70.01fbf4","e43c8f40.238fe","405a695.f735b98","11976e24.3a7422","1274b734.e5f339","647de94c.87c0a8"]]},{"id":"3b7cbfd6.8b449","type":"function","z":"e4ec212f.b0f7a","name":"after","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1265.8333740234375,"y":2901.666732788086,"wires":[["29cfa834.050288"]]},{"id":"dd7964ee.f16d68","type":"function","z":"e4ec212f.b0f7a","name":"D5243","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5243/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":929.1666259765625,"y":1109.1665954589843,"wires":[["3b7cbfd6.8b449"]]},{"id":"8e12d5b9.507318","type":"function","z":"e4ec212f.b0f7a","name":"D5244","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5244/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":931.6666259765625,"y":1144.1665954589843,"wires":[["3b7cbfd6.8b449"]]},{"id":"822fbdaa.6a143","type":"function","z":"e4ec212f.b0f7a","name":"D5245","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5245/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":935,"y":1183.333251953125,"wires":[["3b7cbfd6.8b449"]]},{"id":"4153d0f2.4f8f1","type":"function","z":"e4ec212f.b0f7a","name":"D5246","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5246/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":942.4999389648437,"y":1220.8333129882812,"wires":[["3b7cbfd6.8b449"]]},{"id":"e2bf2ec7.5accf","type":"function","z":"e4ec212f.b0f7a","name":"D5247","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5247/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":939.1666870117187,"y":1258.3333129882812,"wires":[["3b7cbfd6.8b449"]]},{"id":"267eb7e7.5575b8","type":"function","z":"e4ec212f.b0f7a","name":"D5248","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5248/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":940.8331909179687,"y":1292.5,"wires":[["3b7cbfd6.8b449"]]},{"id":"ea752b9c.1e26e8","type":"function","z":"e4ec212f.b0f7a","name":"D5250","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5250/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":945,"y":1330.833251953125,"wires":[["3b7cbfd6.8b449"]]},{"id":"8f7c51c8.899d1","type":"function","z":"e4ec212f.b0f7a","name":"D5251","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5251/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":942.5,"y":1365,"wires":[["3b7cbfd6.8b449"]]},{"id":"dcf6412d.c0c51","type":"function","z":"e4ec212f.b0f7a","name":"D5281","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5281/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":940.833251953125,"y":1405,"wires":[["3b7cbfd6.8b449"]]},{"id":"5d4953.d01716ac","type":"function","z":"e4ec212f.b0f7a","name":"D5282","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5282/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":943.333251953125,"y":1445.833251953125,"wires":[["3b7cbfd6.8b449"]]},{"id":"585d4c8e.e30284","type":"function","z":"e4ec212f.b0f7a","name":"D5301","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5301/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":943.333251953125,"y":1484.9998779296875,"wires":[["3b7cbfd6.8b449"]]},{"id":"b2418ba6.b0ad68","type":"function","z":"e4ec212f.b0f7a","name":"D5302","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5302/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":945.8333740234375,"y":1524.1664733886718,"wires":[["3b7cbfd6.8b449"]]},{"id":"89455da0.f39aa","type":"function","z":"e4ec212f.b0f7a","name":"D5303","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5303/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":941.6666259765625,"y":1558.333251953125,"wires":[["3b7cbfd6.8b449"]]},{"id":"f42e6650.d54188","type":"function","z":"e4ec212f.b0f7a","name":"D5304","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5304/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":944.1666259765625,"y":1593.333251953125,"wires":[["3b7cbfd6.8b449"]]},{"id":"bad87500.1164a8","type":"function","z":"e4ec212f.b0f7a","name":"D5305","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5305/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":1627.4998779296875,"wires":[["3b7cbfd6.8b449"]]},{"id":"32ccca44.0542a6","type":"function","z":"e4ec212f.b0f7a","name":"D5306","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5306/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":949.1666259765625,"y":1662.4998779296875,"wires":[["3b7cbfd6.8b449"]]},{"id":"fb21a506.058698","type":"function","z":"e4ec212f.b0f7a","name":"D5307","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5307/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":943.333251953125,"y":1695.833251953125,"wires":[["3b7cbfd6.8b449"]]},{"id":"ea567e40.82f83","type":"function","z":"e4ec212f.b0f7a","name":"D5308","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5308/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":948.333251953125,"y":1728.333251953125,"wires":[["3b7cbfd6.8b449"]]},{"id":"7758fb99.87a254","type":"function","z":"e4ec212f.b0f7a","name":"D5309","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5309/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":953.333251953125,"y":1761.66650390625,"wires":[["3b7cbfd6.8b449"]]},{"id":"6d278893.6bf2e8","type":"function","z":"e4ec212f.b0f7a","name":"D5310","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5310/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":955.833251953125,"y":1798.333251953125,"wires":[["3b7cbfd6.8b449"]]},{"id":"365f6190.7ac5ae","type":"function","z":"e4ec212f.b0f7a","name":"D5311","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5311/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":955,"y":1835.833251953125,"wires":[["3b7cbfd6.8b449"]]},{"id":"4ca1b185.24cdb","type":"function","z":"e4ec212f.b0f7a","name":"D5312","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5312/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":954.16650390625,"y":1871.6666870117187,"wires":[["3b7cbfd6.8b449"]]},{"id":"d982eb20.3990c8","type":"function","z":"e4ec212f.b0f7a","name":"D5313","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5313/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":955,"y":1905.8332824707031,"wires":[["3b7cbfd6.8b449"]]},{"id":"4e47e776.1fb138","type":"function","z":"e4ec212f.b0f7a","name":"D5314","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5314/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":955.833251953125,"y":1945.8333435058593,"wires":[["3b7cbfd6.8b449"]]},{"id":"72afdbc.7024624","type":"function","z":"e4ec212f.b0f7a","name":"D5316","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5316/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":962.4998779296875,"y":1981.6667175292968,"wires":[["3b7cbfd6.8b449"]]},{"id":"61ba0a05.911744","type":"function","z":"e4ec212f.b0f7a","name":"D5317","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5317/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":965,"y":2019.1666259765625,"wires":[["3b7cbfd6.8b449"]]},{"id":"6df7c2a1.c812cc","type":"function","z":"e4ec212f.b0f7a","name":"D5318","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5318/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":969.1666259765625,"y":2060.833251953125,"wires":[["3b7cbfd6.8b449"]]},{"id":"48d3e78e.797bd8","type":"function","z":"e4ec212f.b0f7a","name":"D5319","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5319/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":966.6666259765625,"y":2095.833251953125,"wires":[["3b7cbfd6.8b449"]]},{"id":"d852750f.4a8ba8","type":"function","z":"e4ec212f.b0f7a","name":"D5320","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5320/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":961.6666259765625,"y":2133.333251953125,"wires":[["3b7cbfd6.8b449"]]},{"id":"acaf6900.1bb258","type":"function","z":"e4ec212f.b0f7a","name":"D5321","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5321/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":967.5,"y":2171.66650390625,"wires":[["3b7cbfd6.8b449"]]},{"id":"21531643.c7cdba","type":"function","z":"e4ec212f.b0f7a","name":"D5322","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5322/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":2215,"wires":[["3b7cbfd6.8b449"]]},{"id":"3b066443.6a5afc","type":"function","z":"e4ec212f.b0f7a","name":"D5331","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5331/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":981.6666259765625,"y":2251.66650390625,"wires":[["3b7cbfd6.8b449"]]},{"id":"a18a6e69.ddd55","type":"function","z":"e4ec212f.b0f7a","name":"D5332","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5332/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":985.833251953125,"y":2292.5,"wires":[["3b7cbfd6.8b449"]]},{"id":"e2c27f28.ac7f","type":"function","z":"e4ec212f.b0f7a","name":"D5333","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5333/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":2330,"wires":[["3b7cbfd6.8b449"]]},{"id":"8a9c700b.2477","type":"function","z":"e4ec212f.b0f7a","name":"D5334","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5334/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":992.5,"y":2363.333251953125,"wires":[["3b7cbfd6.8b449"]]},{"id":"3e2af29.55c8c0e","type":"function","z":"e4ec212f.b0f7a","name":"D5335","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5335/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":2397.5,"wires":[["3b7cbfd6.8b449"]]},{"id":"7078fa69.367374","type":"function","z":"e4ec212f.b0f7a","name":"D5336","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5336/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":991.6666259765625,"y":2432.5,"wires":[["3b7cbfd6.8b449"]]},{"id":"61eb5369.3fd96c","type":"function","z":"e4ec212f.b0f7a","name":"D5337","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5337/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":2470,"wires":[["3b7cbfd6.8b449"]]},{"id":"c3614dee.8a4f2","type":"function","z":"e4ec212f.b0f7a","name":"D5338","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5338/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":1005,"y":2506.6666870117187,"wires":[["3b7cbfd6.8b449"]]},{"id":"ce529fa6.66153","type":"function","z":"e4ec212f.b0f7a","name":"D5342","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5342/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":2541.66650390625,"wires":[["3b7cbfd6.8b449"]]},{"id":"5d9a0dde.6072b4","type":"function","z":"e4ec212f.b0f7a","name":"D5346","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5346/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":2579.999755859375,"wires":[["3b7cbfd6.8b449"]]},{"id":"8391fc65.948c8","type":"function","z":"e4ec212f.b0f7a","name":"D5347","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5347/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":1001.6666259765625,"y":2619.16650390625,"wires":[["3b7cbfd6.8b449"]]},{"id":"4880f096.87922","type":"function","z":"e4ec212f.b0f7a","name":"D5348","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5348/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":999.1666259765625,"y":2654.999755859375,"wires":[["3b7cbfd6.8b449"]]},{"id":"fee648d7.9aaae8","type":"function","z":"e4ec212f.b0f7a","name":"D5349","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5349/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":995,"y":2691.66650390625,"wires":[["3b7cbfd6.8b449"]]},{"id":"6745d986.1e87b8","type":"function","z":"e4ec212f.b0f7a","name":"D5350","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5350/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":999.1666259765625,"y":2725.8330078125,"wires":[["3b7cbfd6.8b449"]]},{"id":"aec8334a.902e5","type":"function","z":"e4ec212f.b0f7a","name":"D5351","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5351/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":1005,"y":2760,"wires":[["3b7cbfd6.8b449"]]},{"id":"b483a107.2a4ab","type":"function","z":"e4ec212f.b0f7a","name":"D5352","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5352/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":1008.333251953125,"y":2798.333251953125,"wires":[["3b7cbfd6.8b449"]]},{"id":"a40b3575.10a718","type":"function","z":"e4ec212f.b0f7a","name":"D5353","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5353/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":1013.333251953125,"y":2834.166748046875,"wires":[["3b7cbfd6.8b449"]]},{"id":"bfa2b30e.0b85b","type":"function","z":"e4ec212f.b0f7a","name":"D5400","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5400/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":1016.6666259765625,"y":2869.16650390625,"wires":[["3b7cbfd6.8b449"]]},{"id":"2ada8dba.488352","type":"function","z":"e4ec212f.b0f7a","name":"D5404","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5404/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":1018.333251953125,"y":2907.5,"wires":[["3b7cbfd6.8b449"]]},{"id":"804809dd.eae978","type":"function","z":"e4ec212f.b0f7a","name":"D5408","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5408/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":1018.333251953125,"y":2945,"wires":[["3b7cbfd6.8b449"]]},{"id":"715c2dc2.1ced04","type":"function","z":"e4ec212f.b0f7a","name":"D5412","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5412/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":1024.1666259765625,"y":2978.333251953125,"wires":[["3b7cbfd6.8b449"]]},{"id":"812afcef.1f27a","type":"function","z":"e4ec212f.b0f7a","name":"D5416","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5416/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":1025.833251953125,"y":3011.66650390625,"wires":[["3b7cbfd6.8b449"]]},{"id":"6a524bb3.59b154","type":"function","z":"e4ec212f.b0f7a","name":"D5420","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5420/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":1025.833251953125,"y":3045.833251953125,"wires":[["3b7cbfd6.8b449"]]},{"id":"d93e70fb.cc86e","type":"function","z":"e4ec212f.b0f7a","name":"D5424","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5424/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":1025.833251953125,"y":3081.66650390625,"wires":[["3b7cbfd6.8b449"]]},{"id":"1a9a9b73.af0a75","type":"function","z":"e4ec212f.b0f7a","name":"D5450","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5450/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":1031.6666259765625,"y":3116.66650390625,"wires":[["3b7cbfd6.8b449"]]},{"id":"bb0a68e8.bbac68","type":"function","z":"e4ec212f.b0f7a","name":"D5454","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5454/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":1034.1666259765625,"y":3150,"wires":[["3b7cbfd6.8b449"]]},{"id":"1529f64b.e35a2a","type":"function","z":"e4ec212f.b0f7a","name":"D5458","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5458/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":1027.5,"y":3185,"wires":[["3b7cbfd6.8b449"]]},{"id":"6917f01c.ceea9","type":"function","z":"e4ec212f.b0f7a","name":"D5462","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5462/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":3220.833251953125,"wires":[["3b7cbfd6.8b449"]]},{"id":"c89a5f3d.ee1b9","type":"function","z":"e4ec212f.b0f7a","name":"D5466","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5466/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":1046.6666259765625,"y":3257.5,"wires":[["3b7cbfd6.8b449"]]},{"id":"59ba7c70.01fbf4","type":"function","z":"e4ec212f.b0f7a","name":"D5470","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5470/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":1051.6666259765625,"y":3296.66650390625,"wires":[["3b7cbfd6.8b449"]]},{"id":"e43c8f40.238fe","type":"function","z":"e4ec212f.b0f7a","name":"D5474","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5474/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":1051.6666259765625,"y":3336.66650390625,"wires":[["3b7cbfd6.8b449"]]},{"id":"405a695.f735b98","type":"function","z":"e4ec212f.b0f7a","name":"D5478","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5478/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":1048.333251953125,"y":3374.9998168945312,"wires":[["3b7cbfd6.8b449"]]},{"id":"11976e24.3a7422","type":"function","z":"e4ec212f.b0f7a","name":"D5732","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5732/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":1049.1666259765625,"y":3411.66650390625,"wires":[["3b7cbfd6.8b449"]]},{"id":"1274b734.e5f339","type":"function","z":"e4ec212f.b0f7a","name":"D5772","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5772/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":1060.833251953125,"y":3450,"wires":[["3b7cbfd6.8b449"]]},{"id":"647de94c.87c0a8","type":"function","z":"e4ec212f.b0f7a","name":"D5812","func":"msg.sensorid = \"/三芳化工/Node/1/MitsuModule/D5812/Value\";\nmsg.topic = \"select max(_id) _id from sfcwcm10_sa31 \"+\n            \"where sensorid = '\"+msg.sensorid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":1055,"y":3492.499755859375,"wires":[["3b7cbfd6.8b449"]]},{"id":"44ff180d.193b78","type":"inject","z":"4e63c906.c40088","name":"","topic":"select max(ts) ts from sfcwcm10_plc","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":139,"y":162,"wires":[["7c515040.b5b2f"]]},{"id":"94c1b37c.e14c4","type":"function","z":"4e63c906.c40088","name":"_id_2","func":"/*msg.operation = \"limit(3)\";\nmsg.payload.n = \"Value\";\nmsg.payload.sensorId = {$regex: \"D5\"};\nmsg.payload._id = {\"$gt\":msg.payload._id};\n\nreturn msg;\n*/\n\nvar newMsg = {};\n//msg.ts = \"ISODate('\"+msg.ts.toISOString()+\"')\";\nnewMsg.operation  = \"findOne\";\nnewMsg.collection = \"WASCADAHandler\";\nnewMsg.payload    = { \n    \"n\" : \"Value\",\n    \"sensorId\":{$regex: \"D5\"},\n    \"ts\":({\"$gt\":msg.ts})};\n\n//newMsg.projection = { 'name' : 1 , '_id' : 0 };\n//ewMsg.skip = 0;\n//collection.find(selector,msg.projection).sort(msg.sort).limit(msg.limit).skip(msg.skip);\nreturn newMsg;\n\n","outputs":1,"noerr":0,"x":547,"y":162.45001220703125,"wires":[["3578c4be.bf45bc","322c9db3.f65242"]]},{"id":"4b7fc7fb.f53ca8","type":"function","z":"4e63c906.c40088","name":"max_ts","func":"msg = {ts:msg.payload[0].ts};\nreturn msg;","outputs":1,"noerr":0,"x":406,"y":162.44998168945312,"wires":[["94c1b37c.e14c4"]]},{"id":"7c515040.b5b2f","type":"mysql","z":"4e63c906.c40088","mydb":"e70b6c45.63996","name":"","x":271.5,"y":161.89999389648437,"wires":[["4b7fc7fb.f53ca8"]]},{"id":"3578c4be.bf45bc","type":"mongodb3 in","z":"4e63c906.c40088","service":"_ext_","configNode":"473a8df9.c1f424","name":"","collection":"","operation":"","x":681,"y":160.64999389648437,"wires":[["8190e74f.8c8378","88151b0.8147ce8"]]},{"id":"dcfd4b6e.247788","type":"objectid","z":"4e63c906.c40088","name":"","property":"ts","propertyType":"msg","x":680,"y":102.34999084472656,"wires":[[]]},{"id":"8190e74f.8c8378","type":"function","z":"4e63c906.c40088","name":"insert sql","func":"var ts     = msg.payload.ts; \nvar year    = ts.getFullYear();\nvar month   = ts.getMonth()+1; \nvar day     = ts.getDate();\nvar hour    = ts.getHours();\nvar minute  = ts.getMinutes();\nvar second  = ts.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \nvar timestamp = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\npld = \"INSERT INTO sfcwcm10_plc_x(ts) \"\npld = pld + \"VALUES('\"+timestamp+\"')\";\n//pld = pld + \"WHERE id = \" + msg.payload\n\nif (msg.payload.sensorId.indexOf(\"D5\") > -1) {\n   msg.payload = pld;\n}\nelse {\n   msg.payload = null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":824.5,"y":160.44998168945312,"wires":[["3202ef97.0ef01"]]},{"id":"322c9db3.f65242","type":"debug","z":"4e63c906.c40088","name":"","active":true,"console":"false","complete":"false","x":654.5,"y":251.29998779296875,"wires":[]},{"id":"66ad28f0.c8b138","type":"mysql","z":"4e63c906.c40088","mydb":"e70b6c45.63996","name":"","x":1105,"y":163,"wires":[[]]},{"id":"3202ef97.0ef01","type":"function","z":"4e63c906.c40088","name":"insert","func":"msg.topic = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":970.5,"y":160.45001220703125,"wires":[["66ad28f0.c8b138"]]},{"id":"88151b0.8147ce8","type":"debug","z":"4e63c906.c40088","name":"","active":true,"console":"false","complete":"false","x":876.5,"y":231.29998779296875,"wires":[]},{"id":"817b5539.6cad08","type":"mqtt in","z":"98dcf070.3a104","name":"","topic":"SFC/TCM13/COAT1/STATUS","qos":"2","broker":"891859d6.3043d8","x":220.5,"y":768.1499633789062,"wires":[["9947f629.e01648","50b8a03f.a8624"]]},{"id":"971ddd18.50638","type":"function","z":"98dcf070.3a104","name":"status","func":"var newmsg = {payload:false};\nnewmsg.payload = msg.payload.status;\nreturn newmsg;","outputs":1,"noerr":0,"x":552,"y":767,"wires":[["437403b8.8de15c"]]},{"id":"50b8a03f.a8624","type":"trigger","z":"98dcf070.3a104","op1":"","op2":"false","op1type":"pay","op2type":"bool","duration":"65","extend":true,"units":"s","reset":"","name":"","x":450,"y":716,"wires":[["437403b8.8de15c"]]},{"id":"437403b8.8de15c","type":"ui_switch","z":"98dcf070.3a104","name":"","label":"tcm13:coat1","group":"1d117c45.f38674","order":1,"width":"4","height":"1","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":745,"y":768,"wires":[[]]},{"id":"9947f629.e01648","type":"json","z":"98dcf070.3a104","name":"","pretty":false,"x":422.5,"y":767.4500122070312,"wires":[["971ddd18.50638","f34c2b38.f72968"]]},{"id":"98a97e72.be6a9","type":"mqtt in","z":"98dcf070.3a104","name":"","topic":"SFC/TCM13/COAT2/STATUS","qos":"2","broker":"891859d6.3043d8","x":219,"y":879,"wires":[["d8a4270f.49e228","b8e62923.e67848"]]},{"id":"9cb0d7fb.d14b28","type":"function","z":"98dcf070.3a104","name":"status","func":"var newmsg = {payload:false};\nnewmsg.payload = msg.payload.status;\nreturn newmsg;","outputs":1,"noerr":0,"x":550.5,"y":877.8500366210937,"wires":[["1b70f057.ce70d"]]},{"id":"b8e62923.e67848","type":"trigger","z":"98dcf070.3a104","op1":"","op2":"false","op1type":"pay","op2type":"bool","duration":"65","extend":true,"units":"s","reset":"","name":"","x":448.5,"y":833.8500366210937,"wires":[["1b70f057.ce70d"]]},{"id":"1b70f057.ce70d","type":"ui_switch","z":"98dcf070.3a104","name":"","label":"tcm13:coat2","group":"1d117c45.f38674","order":2,"width":"4","height":"1","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":743.5,"y":878.8500366210937,"wires":[[]]},{"id":"d8a4270f.49e228","type":"json","z":"98dcf070.3a104","name":"","pretty":false,"x":421,"y":878.300048828125,"wires":[["9cb0d7fb.d14b28","d8b96ba7.66dad8"]]},{"id":"7c05bad2.a4bdf4","type":"mqtt in","z":"98dcf070.3a104","name":"","topic":"SFC/TCM13/COAT3/STATUS","qos":"2","broker":"891859d6.3043d8","x":220,"y":1000,"wires":[["539e9a55.99b6d4","da9a55de.86e648"]]},{"id":"f5f76d06.e07cc","type":"function","z":"98dcf070.3a104","name":"status","func":"var newmsg = {payload:false};\nnewmsg.payload = msg.payload.status;\nreturn newmsg;","outputs":1,"noerr":0,"x":551.5,"y":998.8500366210937,"wires":[["2024f9f6.aab8c6"]]},{"id":"da9a55de.86e648","type":"trigger","z":"98dcf070.3a104","op1":"","op2":"false","op1type":"pay","op2type":"bool","duration":"65","extend":true,"units":"s","reset":"","name":"","x":453.5,"y":955.8500366210937,"wires":[["2024f9f6.aab8c6"]]},{"id":"2024f9f6.aab8c6","type":"ui_switch","z":"98dcf070.3a104","name":"","label":"tcm13:coat3","group":"1d117c45.f38674","order":3,"width":"4","height":"1","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":744.5,"y":999.8500366210937,"wires":[[]]},{"id":"539e9a55.99b6d4","type":"json","z":"98dcf070.3a104","name":"","pretty":false,"x":422,"y":999.300048828125,"wires":[["f5f76d06.e07cc","26d3e640.2a622a"]]},{"id":"21e95a5c.dd6d96","type":"mqtt in","z":"98dcf070.3a104","name":"","topic":"SFC/TCM13/COAT4/STATUS","qos":"2","broker":"891859d6.3043d8","x":220,"y":1120,"wires":[["fa73dc55.8f436","66a8506b.e6543"]]},{"id":"3afa87b3.15e3f8","type":"function","z":"98dcf070.3a104","name":"status","func":"var newmsg = {payload:false};\nnewmsg.payload = msg.payload.status;\nreturn newmsg;","outputs":1,"noerr":0,"x":551.5,"y":1118.8500366210937,"wires":[["8a83bed6.c8e53"]]},{"id":"66a8506b.e6543","type":"trigger","z":"98dcf070.3a104","op1":"","op2":"false","op1type":"pay","op2type":"bool","duration":"65","extend":true,"units":"s","reset":"","name":"","x":454.5,"y":1076.8499755859375,"wires":[["8a83bed6.c8e53"]]},{"id":"8a83bed6.c8e53","type":"ui_switch","z":"98dcf070.3a104","name":"","label":"tcm13:coat4","group":"1d117c45.f38674","order":4,"width":"4","height":"1","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":744.5,"y":1119.8500366210937,"wires":[[]]},{"id":"fa73dc55.8f436","type":"json","z":"98dcf070.3a104","name":"","pretty":false,"x":422,"y":1119.300048828125,"wires":[["3afa87b3.15e3f8","132a24d2.d2008b"]]},{"id":"bcfff1a1.5c37e","type":"mqtt in","z":"98dcf070.3a104","name":"","topic":"SFC/FREEZER/STATUS","qos":"2","broker":"1687195d.eed3a7","x":232,"y":1255,"wires":[["3b362bc8.e48584","f9ce3fe6.680de"]]},{"id":"85e47c87.428bb","type":"function","z":"98dcf070.3a104","name":"status","func":"var newmsg = {payload:false};\nnewmsg.payload = msg.payload.status;\nreturn newmsg;","outputs":1,"noerr":0,"x":584.5,"y":1259.8500366210937,"wires":[["2e041eca.459412"]]},{"id":"f9ce3fe6.680de","type":"trigger","z":"98dcf070.3a104","op1":"","op2":"false","op1type":"pay","op2type":"bool","duration":"65","extend":true,"units":"s","reset":"","name":"","x":487.5,"y":1217.8499755859375,"wires":[["2e041eca.459412"]]},{"id":"2e041eca.459412","type":"ui_switch","z":"98dcf070.3a104","name":"","label":"冷凍庫","group":"1d117c45.f38674","order":14,"width":"4","height":"1","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":749.5,"y":1261.8499755859375,"wires":[[]]},{"id":"3b362bc8.e48584","type":"json","z":"98dcf070.3a104","name":"","pretty":false,"x":455,"y":1260.300048828125,"wires":[["85e47c87.428bb","3b003e9a.ebc952"]]},{"id":"705753fe.62367c","type":"mqtt in","z":"98dcf070.3a104","name":"","topic":"SFC/MIS/MQTT1/STATUS","qos":"2","broker":"1687195d.eed3a7","x":230,"y":1400,"wires":[["ae8d3e4e.31906","67021c7f.807474"]]},{"id":"d40b7e8b.afe07","type":"function","z":"98dcf070.3a104","name":"status","func":"var newmsg = {payload:false};\nnewmsg.payload = msg.payload.status;\nreturn newmsg;","outputs":1,"noerr":0,"x":571.5,"y":1398.8500366210937,"wires":[["58ec1a0b.8ccca4"]]},{"id":"67021c7f.807474","type":"trigger","z":"98dcf070.3a104","op1":"","op2":"false","op1type":"pay","op2type":"bool","duration":"65","extend":true,"units":"s","reset":"","name":"","x":474.5,"y":1356.8499755859375,"wires":[["58ec1a0b.8ccca4"]]},{"id":"58ec1a0b.8ccca4","type":"ui_switch","z":"98dcf070.3a104","name":"","label":"機房MQTT1","group":"1d117c45.f38674","order":15,"width":"4","height":"1","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":756.5,"y":1400.8499755859375,"wires":[[]]},{"id":"ae8d3e4e.31906","type":"json","z":"98dcf070.3a104","name":"","pretty":false,"x":442,"y":1399.300048828125,"wires":[["d40b7e8b.afe07","fbd04131.1bcb2"]]},{"id":"2786472a.2e2318","type":"ui_text","z":"98dcf070.3a104","group":"289ffe5f.5f3f72","order":1,"width":"4","height":"1","name":"","label":"COAT 1 IP:","format":"{{msg.payload}}","layout":"row-right","x":746.5,"y":804.5,"wires":[]},{"id":"f34c2b38.f72968","type":"function","z":"98dcf070.3a104","name":"ip","func":"var newmsg = {payload:\"\"};\nnewmsg.payload = msg.payload.ip;\nreturn newmsg;","outputs":1,"noerr":0,"x":553.5,"y":802.4499969482422,"wires":[["2786472a.2e2318"]]},{"id":"d8b96ba7.66dad8","type":"function","z":"98dcf070.3a104","name":"ip","func":"var newmsg = {payload:\"\"};\nnewmsg.payload = msg.payload.ip;\nreturn newmsg;","outputs":1,"noerr":0,"x":550,"y":920,"wires":[["5e3a922e.5c6e1c"]]},{"id":"5e3a922e.5c6e1c","type":"ui_text","z":"98dcf070.3a104","group":"289ffe5f.5f3f72","order":2,"width":"4","height":"1","name":"","label":"COAT 2 IP:","format":"{{msg.payload}}","layout":"row-right","x":750,"y":920,"wires":[]},{"id":"26d3e640.2a622a","type":"function","z":"98dcf070.3a104","name":"ip","func":"var newmsg = {payload:\"\"};\nnewmsg.payload = msg.payload.ip;\nreturn newmsg;","outputs":1,"noerr":0,"x":550,"y":1040,"wires":[["404d5683.c2e208"]]},{"id":"404d5683.c2e208","type":"ui_text","z":"98dcf070.3a104","group":"289ffe5f.5f3f72","order":3,"width":"4","height":"1","name":"","label":"COAT 3 IP:","format":"{{msg.payload}}","layout":"row-right","x":750,"y":1040,"wires":[]},{"id":"132a24d2.d2008b","type":"function","z":"98dcf070.3a104","name":"ip","func":"var newmsg = {payload:\"\"};\nnewmsg.payload = msg.payload.ip;\nreturn newmsg;","outputs":1,"noerr":0,"x":550,"y":1160,"wires":[["5d344ae5.32c164"]]},{"id":"5d344ae5.32c164","type":"ui_text","z":"98dcf070.3a104","group":"289ffe5f.5f3f72","order":4,"width":"4","height":"1","name":"","label":"COAT 4 IP:","format":"{{msg.payload}}","layout":"row-right","x":750,"y":1160,"wires":[]},{"id":"3b003e9a.ebc952","type":"function","z":"98dcf070.3a104","name":"ip","func":"var newmsg = {payload:\"\"};\nnewmsg.payload = msg.payload.ip;\nreturn newmsg;","outputs":1,"noerr":0,"x":590,"y":1300,"wires":[["935a1931.c025f8"]]},{"id":"935a1931.c025f8","type":"ui_text","z":"98dcf070.3a104","group":"289ffe5f.5f3f72","order":5,"width":"4","height":"1","name":"","label":"冷凍庫 IP:","format":"{{msg.payload}}","layout":"row-right","x":760,"y":1300,"wires":[]},{"id":"f4056e6a.3a078","type":"mqtt in","z":"ace53826.54ad68","name":"","topic":"SFC/TCM13/DAQ/D5510","qos":"2","broker":"891859d6.3043d8","x":243.5,"y":195.14999389648437,"wires":[["11c10ce0.0dfb63"]]},{"id":"63d6a228.1edb7c","type":"mqtt in","z":"ace53826.54ad68","name":"","topic":"SFC/TCM13/COAT1/NDC","qos":"2","broker":"891859d6.3043d8","x":239.5,"y":261.1499938964844,"wires":[["462e0afa.dfa954"]]},{"id":"462e0afa.dfa954","type":"json","z":"ace53826.54ad68","name":"","pretty":false,"x":434.5,"y":259.4499816894531,"wires":[["d749b670.b20be8"]]},{"id":"d749b670.b20be8","type":"function","z":"ace53826.54ad68","name":"RBX","func":"var newmsg = {topic:\"COAT1\",payload:0};\nnewmsg.payload = msg.payload.RBX;\nreturn newmsg;","outputs":1,"noerr":0,"x":576.5,"y":260.4499816894531,"wires":[["54a8a49.6a3b25c","9ad85100.b1f5"]]},{"id":"11c10ce0.0dfb63","type":"function","z":"ace53826.54ad68","name":"","func":"var newmsg = {topic:\"SPEED\",payload:0};\nnewmsg.payload = msg.payload;\nglobal.set(\"SPEED\",msg.payload);\nreturn newmsg;","outputs":1,"noerr":0,"x":572.5,"y":206.4499969482422,"wires":[["507a221e.890adc","927c87f9.f61a68"]]},{"id":"54a8a49.6a3b25c","type":"ui_chart","z":"ace53826.54ad68","name":"","group":"89acd0de.d3f02","order":1,"width":"20","height":"8","label":"NDC","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":806.5,"y":284.1999816894531,"wires":[[],[]]},{"id":"7f68e48b.9675bc","type":"mqtt in","z":"ace53826.54ad68","name":"","topic":"SFC/TCM13/COAT2/NDC","qos":"2","broker":"891859d6.3043d8","x":245,"y":342,"wires":[["59a35238.43603c"]]},{"id":"59a35238.43603c","type":"json","z":"ace53826.54ad68","name":"","pretty":false,"x":440,"y":340.29998779296875,"wires":[["1ed983f0.f9054c"]]},{"id":"1ed983f0.f9054c","type":"function","z":"ace53826.54ad68","name":"RBX","func":"var newmsg = {topic:\"COAT2\",payload:0};\nnewmsg.payload = msg.payload.RBX;\nreturn newmsg;","outputs":1,"noerr":0,"x":579,"y":339.29998779296875,"wires":[["54a8a49.6a3b25c","2bc5313e.cd708e"]]},{"id":"ecffa70e.4b0e28","type":"mqtt in","z":"ace53826.54ad68","name":"","topic":"SFC/TCM13/COAT3/NDC","qos":"2","broker":"891859d6.3043d8","x":248,"y":405,"wires":[["c13649c8.656ec8"]]},{"id":"c13649c8.656ec8","type":"json","z":"ace53826.54ad68","name":"","pretty":false,"x":443,"y":403.29998779296875,"wires":[["4cf9b254.a2a05c"]]},{"id":"4cf9b254.a2a05c","type":"function","z":"ace53826.54ad68","name":"RBX","func":"var newmsg = {topic:\"COAT3\",payload:0};\nnewmsg.payload = msg.payload.RBX;\nreturn newmsg;","outputs":1,"noerr":0,"x":582,"y":402.29998779296875,"wires":[["54a8a49.6a3b25c","8de310ea.c1d11"]]},{"id":"f2999918.d3c778","type":"mqtt in","z":"ace53826.54ad68","name":"","topic":"SFC/TCM13/COAT4/NDC","qos":"2","broker":"891859d6.3043d8","x":244,"y":468,"wires":[["5a248fe4.7fda7"]]},{"id":"5a248fe4.7fda7","type":"json","z":"ace53826.54ad68","name":"","pretty":false,"x":439,"y":466.29998779296875,"wires":[["f770e03f.fd4af"]]},{"id":"f770e03f.fd4af","type":"function","z":"ace53826.54ad68","name":"RBX","func":"var newmsg = {topic:\"COAT4\",payload:0};\nnewmsg.payload = msg.payload.RBX;\nreturn newmsg;","outputs":1,"noerr":0,"x":578,"y":465.29998779296875,"wires":[["54a8a49.6a3b25c","ae0dec1b.43f51"]]},{"id":"9ad85100.b1f5","type":"function","z":"ace53826.54ad68","name":"COAT1","func":"var newmsg = {payload:{last:0,current:0,diff:0,ts:0}};\nvar diff;\nvar ts = new Date();\nnewmsg.payload.last = global.get(\"COAT1\");\nnewmsg.payload.current = msg.payload;\nnewmsg.payload.diff = (newmsg.payload.current-newmsg.payload.last);\n\nif (newmsg.payload.diff > 50) \n   {\n       global.set(msg.topic,msg.payload);\n       global.set(\"COAT1_TS\",ts.getTime());\n       newmsg.payload.ts = ts;\n       return newmsg;\n   }\nelse \n   {\n       global.set(msg.topic,msg.payload);\n   }\n\n\n","outputs":1,"noerr":0,"x":837.5,"y":345.45001220703125,"wires":[["89c32014.da1f1","ab2535be.90f4d8"]]},{"id":"ae0dec1b.43f51","type":"function","z":"ace53826.54ad68","name":"COAT4","func":"var newmsg = {payload:{last:0,current:0,diff:0,ts:0}};\nvar diff;\nvar ts = new Date();\nnewmsg.payload.last = global.get(\"COAT4\");\nnewmsg.payload.current = msg.payload;\nnewmsg.payload.diff = (newmsg.payload.current-newmsg.payload.last);\n\nif (newmsg.payload.diff > 50 ) \n   {\n       global.set(msg.topic,msg.payload);\n       global.set(\"COAT4_TS\",ts.getTime());\n       newmsg.payload.ts = ts;\n       return newmsg;\n   }\nelse \n   {\n       global.set(msg.topic,msg.payload);\n   }\n\n\n","outputs":1,"noerr":0,"x":843,"y":901,"wires":[["d1693f03.ea5d6","ab2535be.90f4d8"]]},{"id":"2bc5313e.cd708e","type":"function","z":"ace53826.54ad68","name":"COAT2","func":"var newmsg = {payload:{last:0,current:0,diff:0,ts:0}};\nvar diff;\nvar ts = new Date();\nnewmsg.payload.last = global.get(\"COAT2\");\nnewmsg.payload.current = msg.payload;\nnewmsg.payload.diff = (newmsg.payload.current-newmsg.payload.last);\n\nif (newmsg.payload.diff > 50 ) \n   {\n       global.set(msg.topic,msg.payload);\n       global.set(\"COAT2_TS\",ts.getTime());\n       newmsg.payload.ts = ts;\n       return newmsg;\n   }\nelse \n   {\n       global.set(msg.topic,msg.payload);\n   }\n\n\n","outputs":1,"noerr":0,"x":834,"y":582,"wires":[["89c32014.da1f1","4063ee6.120731"]]},{"id":"8de310ea.c1d11","type":"function","z":"ace53826.54ad68","name":"COAT3","func":"var newmsg = {payload:{last:0,current:0,diff:0,ts:0}};\nvar diff;\nvar ts = new Date();\nnewmsg.payload.last = global.get(\"COAT3\");\nnewmsg.payload.current = msg.payload;\nnewmsg.payload.diff = (newmsg.payload.current-newmsg.payload.last);\n\nif (newmsg.payload.diff > 50 ) \n   {\n       global.set(msg.topic,msg.payload);\n       global.set(\"COAT3_TS\",ts.getTime());\n       newmsg.payload.ts = ts;\n       return newmsg;\n   }\nelse \n   {\n       global.set(msg.topic,msg.payload);\n   }\n\n\n","outputs":1,"noerr":0,"x":828,"y":743,"wires":[["4063ee6.120731","d1693f03.ea5d6"]]},{"id":"c605b826.01c0c8","type":"debug","z":"ace53826.54ad68","name":"COAT2","active":true,"console":false,"complete":"payload","x":1004.5,"y":584.2999877929687,"wires":[]},{"id":"b042d34b.d1b07","type":"debug","z":"ace53826.54ad68","name":"COAT3","active":true,"console":false,"complete":"payload","x":995.5,"y":737.2999877929687,"wires":[]},{"id":"d111a19a.d21","type":"debug","z":"ace53826.54ad68","name":"COAT4","active":true,"console":false,"complete":"payload","x":1007.5,"y":902.2999877929687,"wires":[]},{"id":"507a221e.890adc","type":"ui_chart","z":"ace53826.54ad68","name":"","group":"89acd0de.d3f02","order":2,"width":"20","height":"4","label":"車速","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":812.5,"y":204.19998168945312,"wires":[[],[]]},{"id":"89c32014.da1f1","type":"function","z":"ace53826.54ad68","name":"","func":"var coat1_ts = global.get(\"COAT1_TS\");\nvar coat2_ts = global.get(\"COAT2_TS\");\nmsg.payload = (coat2_ts - coat1_ts)/1000/60;\nreturn msg;","outputs":1,"noerr":0,"x":994.5,"y":422.4499816894531,"wires":[["da68bfdc.ad54b","160cbe14.a1cb42"]]},{"id":"da68bfdc.ad54b","type":"ui_text","z":"ace53826.54ad68","group":"89acd0de.d3f02","order":4,"width":"2","height":"2","name":"","label":"1~2秒數","format":"{{msg.payload}}","layout":"col-center","x":1162.5,"y":420.1999816894531,"wires":[]},{"id":"4063ee6.120731","type":"function","z":"ace53826.54ad68","name":"","func":"var coat2_ts = global.get(\"COAT2_TS\");\nvar coat3_ts = global.get(\"COAT3_TS\");\nmsg.payload = (coat3_ts - coat2_ts)/1000/60;\nreturn msg;","outputs":1,"noerr":0,"x":993,"y":691,"wires":[["3c781c26.081804","5cf19f13.7e72"]]},{"id":"3c781c26.081804","type":"ui_text","z":"ace53826.54ad68","group":"89acd0de.d3f02","order":5,"width":"2","height":"2","name":"","label":"2~3秒數","format":"{{msg.payload}}","layout":"col-center","x":1164,"y":688.75,"wires":[]},{"id":"d1693f03.ea5d6","type":"function","z":"ace53826.54ad68","name":"","func":"var coat3_ts = global.get(\"COAT3_TS\");\nvar coat4_ts = global.get(\"COAT4_TS\");\nmsg.payload = (coat4_ts - coat3_ts)/1000/60;\nreturn msg;","outputs":1,"noerr":0,"x":997,"y":855,"wires":[["e12c6fbf.bdf85","9941d5aa.268988"]]},{"id":"e12c6fbf.bdf85","type":"ui_text","z":"ace53826.54ad68","group":"89acd0de.d3f02","order":6,"width":"2","height":"2","name":"","label":"3~4秒數","format":"{{msg.payload}}","layout":"col-center","x":1168,"y":857.75,"wires":[]},{"id":"927c87f9.f61a68","type":"ui_text","z":"ace53826.54ad68","group":"89acd0de.d3f02","order":3,"width":"2","height":"2","name":"","label":"車速","format":"{{msg.payload}}","layout":"col-center","x":803.5,"y":164.1999969482422,"wires":[]},{"id":"160cbe14.a1cb42","type":"function","z":"ace53826.54ad68","name":"","func":"var newmsg = {payload:0};\nvar speed = global.get(\"SPEED\");\n\nnewmsg.payload = msg.payload * speed;\n\nreturn newmsg;","outputs":1,"noerr":0,"x":1152.5,"y":380.4499816894531,"wires":[["7c29fb52.70b2b4"]]},{"id":"7c29fb52.70b2b4","type":"ui_text","z":"ace53826.54ad68","group":"89acd0de.d3f02","order":0,"width":"2","height":"2","name":"","label":"1~2距離","format":"{{msg.payload}}","layout":"col-center","x":1298.5,"y":376.1999816894531,"wires":[]},{"id":"5cf19f13.7e72","type":"function","z":"ace53826.54ad68","name":"","func":"var newmsg = {payload:0};\nvar speed = global.get(\"SPEED\");\n\nnewmsg.payload = msg.payload * speed;\n\nreturn newmsg;","outputs":1,"noerr":0,"x":1156,"y":650,"wires":[["73e0fa2a.84b6b4"]]},{"id":"73e0fa2a.84b6b4","type":"ui_text","z":"ace53826.54ad68","group":"89acd0de.d3f02","order":0,"width":"2","height":"2","name":"","label":"2~3距離","format":"{{msg.payload}}","layout":"col-center","x":1304,"y":649.75,"wires":[]},{"id":"9941d5aa.268988","type":"function","z":"ace53826.54ad68","name":"","func":"var newmsg = {payload:0};\nvar speed = global.get(\"SPEED\");\n\nnewmsg.payload = msg.payload * speed;\n\nreturn newmsg;","outputs":1,"noerr":0,"x":1161,"y":819,"wires":[["1891ae7f.a63142"]]},{"id":"1891ae7f.a63142","type":"ui_text","z":"ace53826.54ad68","group":"89acd0de.d3f02","order":0,"width":"2","height":"2","name":"","label":"3~4距離","format":"{{msg.payload}}","layout":"col-center","x":1301,"y":818.75,"wires":[]},{"id":"ab2535be.90f4d8","type":"function","z":"ace53826.54ad68","name":"","func":"var coat1_ts = global.get(\"COAT1_TS\");\nvar coat4_ts = global.get(\"COAT4_TS\");\nmsg.payload = (coat4_ts - coat1_ts)/1000/60;\nreturn msg;","outputs":1,"noerr":0,"x":1001,"y":537,"wires":[["d2e19f4b.8bba9","8a1cca06.f2f5c8"]]},{"id":"d2e19f4b.8bba9","type":"ui_text","z":"ace53826.54ad68","group":"89acd0de.d3f02","order":4,"width":"2","height":"2","name":"","label":"1~4秒數","format":"{{msg.payload}}","layout":"col-center","x":1164,"y":534.75,"wires":[]},{"id":"8a1cca06.f2f5c8","type":"function","z":"ace53826.54ad68","name":"","func":"var newmsg = {payload:0};\nvar speed = global.get(\"SPEED\");\n\nnewmsg.payload = msg.payload * speed;\n\nreturn newmsg;","outputs":1,"noerr":0,"x":1158,"y":494,"wires":[["fdc303dd.11ff3"]]},{"id":"fdc303dd.11ff3","type":"ui_text","z":"ace53826.54ad68","group":"89acd0de.d3f02","order":0,"width":"2","height":"2","name":"","label":"1~4距離","format":"{{msg.payload}}","layout":"col-center","x":1297,"y":494.75,"wires":[]},{"id":"2669c4a7.2bfdfc","type":"mqtt in","z":"98dcf070.3a104","name":"","topic":"SFC/TCM13/COAT1/WIP_ENTITY_NAME","qos":"2","broker":"891859d6.3043d8","x":283.5,"y":1502.1499633789062,"wires":[["4da299c.55db368"]]},{"id":"4da299c.55db368","type":"ui_text","z":"98dcf070.3a104","group":"289ffe5f.5f3f72","order":7,"width":0,"height":0,"name":"","label":"工單號碼:","format":"{{msg.payload}}","layout":"row-center","x":560,"y":1500,"wires":[]},{"id":"fbd04131.1bcb2","type":"function","z":"98dcf070.3a104","name":"ip","func":"var newmsg = {payload:\"\"};\nnewmsg.payload = msg.payload.ip;\nreturn newmsg;","outputs":1,"noerr":0,"x":570,"y":1440,"wires":[["2af0f71b.c2f8b8"]]},{"id":"2af0f71b.c2f8b8","type":"ui_text","z":"98dcf070.3a104","group":"289ffe5f.5f3f72","order":6,"width":"4","height":"1","name":"","label":"MQTT1 IP:","format":"{{msg.payload}}","layout":"row-right","x":750,"y":1440,"wires":[]},{"id":"c5af7579.3b6de8","type":"debug","z":"ace53826.54ad68","name":"COAT1","active":true,"console":false,"complete":"payload","x":1000.5,"y":341.29998779296875,"wires":[]}]